[2014-01-08 15:57] samreid opened #1 "Update all libraries"
At yesterday's meeting we decided to update all of our dependencies in sherpa.

[2014-01-08 16:41] samreid opened #2 "Remove version numbers from sherpa library filenames."
Some of the sherpa libs have versions in their filenames, such as ```require-2.1.8.js```.  This makes it easy to see the version number but difficult to upgrade multiple sims to new versions.  For many of the libraries (including requirejs), the version number is readily available in the top few lines of the code.  Also, we probably do not want to support multiple versions of libraries in a single

[2014-04-22 17:02] samreid opened #3 "Update jquery"
BTW there looks to be an IE specific exception in the following apps which prevents them from being loaded in the context of an iframe.

Molarity

Ohm’s Law

Balloons and Static

Resistance in a Wire

Gravity Force

On this piece of code:

[code]

IE looks to be throwing since the parent is in a different domain, rather than returning null, which is I think what chrome does.

I think you guys had

[2014-04-23 02:39] samreid opened #4 "Update all sherpa libs"
Before redeploying all of our simulations, we decided it would be nice to update our sherpa dependencies, since the sims will be fully retested.  @jonathanolson said to delete old versions of libs, instead of keeping them around.

[2014-04-23 02:44] samreid opened #5 "Update canvg from 1.2 to 1.3"
Our sherpa is using canvg 1.2 but I noticed 1.3 is out.

@jonathanolson can you look into this?  I'm not sure how canvg is used or how to test it.

[2014-04-23 02:46] samreid opened #6 "Can we remove easel and jquerymobile?"
Can we remove easel & jquerymobile from sherpa now?  AFAIK we had it checked it for a comparison to scenery--and I'm not sure it's valuable any more.

EDIT: added 'jquerymobile'

[2014-04-23 04:09] samreid opened #7 "update jshint from 2.4.1 to 2.5.0"

[2014-04-23 15:30] samreid opened #8 "Update canvg and its dependency rgbcolor"

[2014-04-23 15:35] samreid opened #9 "update qunit from 1.12.0 to 1.14.0"
Change log is here:
https://github.com/jquery/qunit/blob/1.14.0/History.md

[2014-04-23 15:41] samreid opened #10 "Update requirejs from require-2.1.10 to require-2.1.11"
Changelog is here:
http://requirejs.org/docs/download.html#releasenotes

[2014-04-23 16:03] #4 closed, assigned to samreid

[2014-07-22 22:33] #1 closed, assigned to pixelzoom

[2014-12-01 16:32] #10 closed, assigned to nobody

[2014-12-01 16:36] samreid opened #11 "Rename the text plugin"
The requirejs plugin currently does not contain version info in its name.  It should be renamed to include the version in the filename, as per our convention for our other 3rd party dependencies.  However, I noticed that many simulations are referring to sherpa/text in their config files (I see 66 occurrences across our sims).  So I thought I'd check in with other developers before making a 66-rep

[2015-01-11 04:32] samreid opened #12 "Remove Box2D"
We are no longer using box2d or box2dweb for John Travoltage.  The emscriptened box2d will be evaluated for Sugar and Salt Solutions "Water" screen, and if it works, we will add that in the future.

[2015-01-11 04:34] samreid commented on #12
Fixed above, closing.

[2015-01-11 04:34] #12 closed

[2015-01-13 21:54] pixelzoom opened #13 "clean up license info for base64binary.js"
sherpa/base64binary.js has this comment that was added to it by @jbphet:

sherpa/info.js indicates that base64binary.js is used by sims:

The 3rd-party spreadsheet  indicates that it's used by vibe. See https://docs.google.com/spreadsheets/d/1XWlHFidztUT6ARb7yHQ1Naepd6L0x9LF94AAoKHGaWg/edit#gid=0

[2015-01-13 22:01] pixelzoom opened #14 "no version number for many lib file names"
The convention is to put the version number in the library's file name. For example: require-2.1.11.js, Tween-r12.js.

The following libs in sherpa don't follow this convention:

base64binary.js
FileSaver.js
has.js
qhint.js
rgbcolor.js
text.js
typedarray.js
webgl-debug-2012.js

[2015-01-14 08:18] jonathanolson commented on #14
From things I've added:

FileSaver.js, has.js, and qhint.js had no versioning information at all when they were added. It still looks like this is the case. Any proposed changes for how they should be named?

rgbcolor.js is part of Canvg's required files, of which I can't find any version information on. We could presumably combine the Canvg files into one file, but it would be more error-prone to

[2015-01-14 16:10] samreid commented on #14
I just ran into this problem for iframe-phone, and I decided to append the GitHub git SHA to the filename, so it is checked in as iframe-phone-7680a25185.js.  Does that sound like a fair solution?  For SVN items (if any), we can use the SVN revision number.

[2015-03-11 04:44] samreid commented on #11
@ariel-phet can you assign this to someone with enough time to work on it?

[2015-03-11 04:56] samreid commented on #5
Not sure how I would test whether it is working properly, so I'm going to leave this up to @jonathanolson when he decides the time is right.

[2015-03-12 15:32] jonathanolson commented on #5
Tested recently.

[2015-03-12 15:32] #5 closed

[2015-04-23 17:13] samreid opened #15 "text.js appears twice"
We have two identical copies of text.js with different filenames.  We should remove the unversioned one.

[2015-04-23 17:27] samreid commented on #15
Fixed one ref in https://github.com/phetsims/chipper/commit/e41ed7d0ff8fb95fa1c9d86ca3ee849a2cf1e281 and tested by building RPAL and inspecting HTML.

[2015-05-08 15:41] jbphet commented on #13
The dependency on base64binary has been removed, see https://github.com/phetsims/vibe/issues/15.  I've removed the corresponding entry from the spreadsheet as well.  Nothing left to do here, closing.

[2015-05-08 18:22] pixelzoom opened #16 "use JSON for license info file?"
sherpa/info.js contains license info and is read by the build process. Since this is a data file, why aren't we using json?  It could be read with `grunt.file.readJSON`, as we're doing for package.json.

[2015-05-08 18:56] pixelzoom commented on #16
Perhaps info.js could also be responsible for specifying which licenses need to be included in the HTML deliverable for all sims?

[2015-05-08 19:41] pixelzoom commented on #16
@samreid Is there any reason why info.js was written as a module.exports instead of JSON?

[2015-05-08 19:42] pixelzoom commented on #15
@samreid I see lots of commits above the replaced `text` with `text-2.0.12`, but `text` is still in info.js.  Can it be deleted?

[2015-05-08 19:44] pixelzoom commented on #14
SHA or SVN number sounds like a fair solution.

[2015-05-08 19:44] pixelzoom commented on #9
This has been assigned to @jonathanolson for >1 year, and qunit 1.12.0 no longer exists. So closing.

[2015-05-08 19:44] #9 closed

[2015-05-08 19:49] pixelzoom commented on #8
Since canvg was already updated in https://github.com/phetsims/sherpa/issues/5, I'm guessing this was done. So closing.

[2015-05-08 19:49] #8 closed

[2015-05-08 19:49] pixelzoom commented on #6
@jonathanolson Do these dependencies exist in any scenery branches? Can this issue be closed?

[2015-05-08 19:50] #3 closed, assigned to nobody

[2015-05-08 19:51] pixelzoom commented on #11
Duplicate of https://github.com/phetsims/sherpa/issues/15, closing.

[2015-05-08 19:51] #11 closed

[2015-05-08 19:52] pixelzoom commented on #7
@jonathanolson apparently verified that the was working >1 year ago. Closing.

[2015-05-08 19:52] #7 closed

[2015-05-08 19:52] pixelzoom commented on #14
Still a problem for these libs:

FileSaver.js
has.js
qhint.js
rgbcolor.js
text.js
typedarray.js
webgl-debug-2012.js

[2015-05-08 19:54] pixelzoom commented on #15
Since "text" no longer exists in sherpa, I'm deleting it from info.js. Closing.

[2015-05-08 19:56] pixelzoom commented on #2
We decided to do the opposite - add version numbers to all libs.  See https://github.com/phetsims/sherpa/issues/14.

Closing.

[2015-05-08 19:56] #2 closed

[2015-05-08 19:56] pixelzoom commented on #14
I'll take this one on.

[2015-05-09 08:09] samreid commented on #13
I'm wondering if the base64binary entry should remain in the spreadsheet until all vibe sims have been redeployed.  My thought is that the spreadsheet should probably indicate not what is in *master* but what is in production on our website.

[2015-05-09 08:29] samreid commented on #16
Skimming through info.js, it seems like it could be rewritten to use JSON instead of JS.  I originally thought info.js might require variables/loops/etc but I think it is now more of just a data file that could use JSON.

[2015-05-09 09:17] samreid commented on #16
Yes, that seems like a nice place to capture this information.

[2015-05-09 09:29] samreid commented on #15
It looks like Quantum Bound States is using sherpa/text:
https://github.com/alecmartin/quantum-bound-states/blob/master/js/quantum-bound-states-config.js

We should write them a note that lets them know how they can upgrade to the versioned text file so things won't break when they pull latest master sherpa.

[2015-05-09 09:32] samreid commented on #15
I created an issue in quantum bound states: https://github.com/alecmartin/quantum-bound-states/issues/41.  Closing.

[2015-05-09 09:32] #15 closed

[2015-05-11 15:57] jbphet commented on #13
Good point.  I've restored it to the spreadsheet and have added the following text to the "How is it used..." section:

[2015-05-11 18:10] pixelzoom commented on #16
Investigating converting to JSON... The first thing I ran into is that multi-line strings are not supported in JSON.  So (for example) this:

[code]

would need to be converted to this:

[code]

I'm reluctant to change this because it is dramatically less readable.  Is there another way to do this?...

[2015-05-11 18:22] pixelzoom opened #17 "restructure the sherpa repository"
In IntelliJ IDEA, subdirectories of a repository can be excluded from a project, which is extremely useful for search/replace operations. Because all of the 3rd-party libraries are at the top-level of the sherpa repository, there is currently no way to exclude "unwanted" subdirectories while retaining "wanted" subdirectories.  This has resulted in recent changes being missed in info.js, breaking t

[2015-05-11 19:39] pixelzoom opened #18 "specify common licenses in info.json ?"
Perhaps info.json could also be responsible for specifying which licenses need to be included in the HTML deliverable for all sims.

Currently these specified are in setLicenseText.js, and there's an opportunity for the keys to get out of sync with info.son:

[code]

[2015-05-11 19:40] pixelzoom commented on #18
In https://github.com/phetsims/sherpa/issues/16#issuecomment-100454639, @samreid said:

[2015-05-11 19:40] pixelzoom commented on #16
Moved the issue of where to specify common licenses to https://github.com/phetsims/sherpa/issues/18.

[2015-05-11 19:41] pixelzoom commented on #16
Work on this is completed. Assigning to @jonathanolson since he seems to be most conversant on JSON format.

[2015-05-11 20:06] pixelzoom commented on #14
@samreid A couple of questions about  iframe-phone ...

(1) I see that Concord has official releases for iframe-phone. Eg v1.1.3 was release 24 days ago. Is there any reason why we're not using official releases?

(2) If there's a reason to use unofficial releases... When using SHAs for version suffixes, I've been using the GitHub convention of 7 chars for the abbreviated SHA.  But I see that you'

[2015-05-11 20:11] pixelzoom commented on #14
has.js was renamed to has-70898c7.js (SHA).

[2015-05-11 20:14] pixelzoom commented on #14
qhint was renamed to qhint-1.1.js. This affect mainly unit tests written by @jonathanolson. I'm not familiar with how to run these, so @jonathanolson please test.

[2015-05-11 20:23] pixelzoom commented on #14
I can't figure out where typedarray.js came from. Created issue https://github.com/phetsims/molecule-shapes/issues/123 (assigned to @jonathanolson) to fill in the details.

[2015-05-11 20:25] pixelzoom commented on #14
rgbcolor.js is used in code written by @jonathanolson. Details in info.json are insufficient to determine where this came from.  @jonathanolson, please provide details.

[2015-05-11 20:28] pixelzoom commented on #14
Also need @jonathanolson input for liberation-sans-regular-subset-numeric-degrees. Since info.js indicates that this is "Licensed under SIL OFL 1.1", shall we give this a "1.1" version number?

[2015-05-11 20:29] pixelzoom commented on #14
I'm inclined to leave webgl-debug-2012.js as is.  The "2012" is probably specific enough, and the URL links directly to it.  @jonathanolson do you agree?

[2015-05-11 20:33] pixelzoom commented on #14
@samreid I'm having difficultly identifying a version number for font-awesome.  There's nothing checked in to sherpa, not even the data file (font-awesome.txt) that is used by chipper to generate the icons in SUN.FontAwesomeNode.js.  Is PhET's use of font-awesome limited to the icons in FontAwesomeNode.js?  Are are there other usages?  Suggestions on how to proceed?...

[2015-05-11 20:38] pixelzoom commented on #14
The current version of Font Awesome (4.3.0) has no font-awesome.txt file.  Were we using some older version that had this file? Or did we get this file from somewhere else?  And since it no longer exists and we don't have font-awesome.txt, how can we generate additional icons using chipper?

[2015-05-11 22:59] jonathanolson commented on #14
I can't find any usages of webgl-debug-2012.js, and I haven't used it to debug context losses (I prefer the extension for forcing context loss on the webgl-implementation side). No need to keep.

[2015-05-11 23:05] jonathanolson commented on #14
Sure if you want, although that's like calling Linux "version 2" because it uses the GPLv2.

[2015-05-11 23:07] pixelzoom commented on #14
Sounds like using 1.1 for liberation-sans-regular-subset-numeric-degrees is not appropriate. @jonathanolson what do you suggest? I have no idea what you grabbed the font from.

[2015-05-11 23:10] jonathanolson commented on #14
rgbcolor.js is a file packaged with canvg.js, and is needed for it (same license, but multiple files for canvg).

[2015-05-11 23:17] jonathanolson commented on #14
It was downloaded from https://fedorahosted.org/liberation-fonts/#License, and extracted into that format.

[2015-05-11 23:20] jonathanolson commented on #14
Looks like 2.00.1 is old enough that it is presumably the version. We can rename our file to match that version for liberation-sans-regular-subset-numeric-degrees-2.00.1?

[2015-05-11 23:23] jonathanolson commented on #14
The comments at the top of the file note the origin. I'll post in the other issue too.

[code]

[2015-05-11 23:25] jonathanolson commented on #14
qhint looks like it's working properly, thanks.

[2015-05-11 23:27] jonathanolson commented on #14
Let me know if you need anything else from me.

[2015-05-12 02:22] samreid commented on #13
That looks perfect, thanks!

[2015-05-12 02:22] #13 closed

[2015-05-12 03:31] jonathanolson commented on #16
Looks good to me.

[2015-05-12 03:31] #16 closed

[2015-05-12 03:41] jonathanolson commented on #17
I like what you've proposed.

[2015-05-12 04:36] jonathanolson commented on #6
Some older performance comparisons between Easel, manually implemented and Scenery use it.

It's not particularly important, I can scrap it if helpful.

[2015-05-12 16:43] jbphet commented on #17
+1

[2015-05-13 17:59] pixelzoom commented on #14
Details about typedarray.js are in https://github.com/phetsims/molecule-shapes/issues/123, it will be renamed to typedarray-44f09cf.js

[2015-05-13 18:09] pixelzoom opened #19 "no license details specified for some 3rd-party libraries"
The following entries in info.json contain no details about how they are licensed:

howler-1.1.11
iframe-phone-7680a25185
jshint-2.5.0
jsondiffpatch 0.1.31
qhint-1.1
numeric-1.2.6
pixi-v3.0.0-rc1-dev
poly2tri-1.3.5.min

And typedarray-44f09cf is specifying a "selectedLicense" but has no indication of what the license choices are.  The "selectedLicense" fields is used when there are multiple licens

[2015-05-13 18:12] pixelzoom commented on #19
Correction: howler-1.1.11 and iframe-phone-7680a25185 are also specifying a "selectedLicense" (MIT) when there only appears to be one option (MIT).

[2015-05-13 18:39] pixelzoom opened #20 "bootstrap license: Apache or MIT?"
For bootstrap-2.2.2, info.json says "Licensed under the Apache License v2.0". The Google Drive license spreadsheet says Apache, but links to an MIT license (https://github.com/twbs/bootstrap/blob/master/LICENSE).

Is this an error or has bootstrap changed their license?

[2015-05-13 18:43] samreid commented on #20
It looks like master changed.  Let's point to a tag:
https://github.com/twbs/bootstrap/blob/v2.2.2/LICENSE

@pixelzoom can you please update the spreadsheet link?

[2015-05-13 18:45] samreid opened #21 "Switch to modern bootstrap"
In https://github.com/phetsims/sherpa/issues/20 @pixelzoom identified that the bootstrap license changed from Apache to MIT.  I think it simplifies things somewhat to move more of our 3rd party libraries to MIT, so perhaps it would be good for @jonathanolson to update bootstrap usages to use a more modern bootstrap (unless it is too complicated).

[2015-05-13 18:49] pixelzoom commented on #19
Also committed https://github.com/phetsims/chipper/commit/cb8b847a950144d6738239a9919dbbf0fcf8ad85.

[2015-05-13 18:50] pixelzoom commented on #19
I fixed the entries identified above. And to prevent this from happening again, "license" is now a required field in info.json.  For example:

[code]

[2015-05-13 18:51] pixelzoom commented on #19
Since this involves legal stuff, I don't want to be responsible for the accuracy of this resolution. Assigning to @ariel-phet to verify (or assign to someone else to verify) that the contents of info.js are accurate.

[2015-05-13 18:53] samreid commented on #17
The proposed change seems reasonable, but I would like to note that I have never excluded sherpa from my searches and do not plan to exclude sherpa/libs from my searches.  Can you discuss why you have found it useful to exclude sherpa/?

Also, I have seen "lib" more than "libs" so would recommend it, but don't feel very strongly about that name.

[2015-05-13 19:02] samreid commented on #14
FontAwesomeNode.js is our only font awesome usage.

That seems like a separate issue for when we need another icon.  Previously I looked through and found path declarations in some file and copied them by hand (perhaps with a small script?).  When we need another icon we can do the same.  I don't remember anything about font-awesome.txt at the moment.

[2015-05-13 19:02] samreid commented on #14
Anything else needed from me for this issue?

[2015-05-13 19:03] pixelzoom opened #22 "license spreadsheet and sherpa/info.json are out of sync"
The license spreadsheet (on Google Drive) and sherpa/info.json are out of sync.

These are missing from info.json:

grunt
html5-shiv
modernizr
node.js
PxLoader
reveal.js
stats.min.js
uglify2

Also, stats.min.js has an entry in the spreadsheet, but no info associated with it.

Highly recommended to consolidate this info into info.json and delete the Google spreadsheet. Until that's done, these are

[2015-05-13 19:05] pixelzoom commented on #22
We should also answer the question of what licenses need to be bundled with the HTML file, since those must be in info.js: https://github.com/phetsims/chipper/issues/32.

[2015-05-13 19:07] pixelzoom commented on #20
Can we just point to a new license without updating the library? If version 2.2.2 was indeed licensed under Apache, then we shouldn't change the license until we update to a version that has the MIT license.

[2015-05-13 19:09] pixelzoom commented on #21
@jonathanolson If/when you update to a more recent Bootstrap, please update the license in sherpa/info.js and all of the relevant info in the license spreadsheet (on Google Drive).

[2015-05-13 19:09] samreid commented on #20
Yes, that is what I recommended when I said "Let's point to a tag:" and provided a link to the 2.2 (Apache) license in https://github.com/phetsims/sherpa/issues/20#issuecomment-101772617

[2015-05-13 19:09] pixelzoom commented on #20
OK, I'll fix the spreadsheet and info.js.

[2015-05-13 19:10] samreid commented on #20
Thank you @pixelzoom

[2015-05-13 19:12] pixelzoom commented on #20
Done, closing.

[2015-05-13 19:12] #20 closed

[2015-05-13 19:13] pixelzoom commented on #17
I exclude sherpa from searches so that I am not finding/replacing things in 3rd-party libraries.

[2015-05-13 19:13] pixelzoom commented on #17
sherpa/lib/ is OK with me.

[2015-05-13 19:14] pixelzoom commented on #17
Similar to why you typically want to exclude build/ and node_modules/. I don't want to be finding/replacing things in 3rd-party libraries.

[2015-05-13 19:16] pixelzoom commented on #14
Nothing else needed from @samreid, thanks.

[2015-05-13 21:25] jonathanolson commented on #21
If I recall correctly, moving from bootstrap 2 to 3 included major breaking changes. How much time would this be worth?

[2015-05-14 00:06] samreid commented on #21
In my opinion, it would be worth 0.5 hours to download the new bootstrap, test it, enumerate issues (if any) and make a time estimate for upgrading.  Let's check with @ariel-phet though since he is more in touch with our work scheduling.

[2015-05-14 12:20] samreid commented on #18
On the other hand, it looks like info.js is just a list of all libraries and their usages.  If we want to have a named list (string array) of dependencies across all sims, it probably belongs elsewhere (possibly another file in sherpa).  If we want to include this information in info.js then, perhaps adding a new value to "usage" like "all-sims" or something like that.  Then iterating through all

[2015-05-14 13:24] samreid commented on #22
@kathy-phet has previously requested the google doc as a convenient way to share licensing information with other parties.  @pixelzoom, what do you think about keeping things synchronized by generating the Google Spreadsheet from the info.js?  We would still have to remember to re-sync when (a) info.js changes or (b) when @kathy-phet is about to share the google doc to another party.

Another poss

[2015-05-15 21:02] pixelzoom commented on #6
@jonathanolson This is up to you. Either remove the dependencies, or add their license information to sherpa/info.json and the 3rd-party license spreadsheet on Google Drive.

[2015-05-15 21:07] pixelzoom opened #23 "add version number to liberation-sans-regular-subset-numeric-degrees.js"
Some discussion about this in #14, but I don't know how to proceed. Assigning this to @jonathanolson as a separate issue, since he added this library.  Please update both sherpa/info.json and the 3rd-party license spreadsheet on Google Drive.

[2015-05-15 21:09] pixelzoom opened #24 "add version number to rgbcolor.js"
Some discussion about this in #14, but I don't know how to proceed. Assigning this to @jonathanolson as a separate issue, since he added this library. Please update both sherpa/info.json and the 3rd-party license spreadsheet on Google Drive.

[2015-05-15 21:10] pixelzoom commented on #14
liberation-sans-regular-subset-numeric-degrees.js and rgbcolor.js moved to separate issues, to be addressed by @jonathanolson.

[2015-05-15 22:56] pixelzoom commented on #17
Work on this is complete. All 3rd-party libs have been moved to sherpa/lib/.  I tested all development-mode HMTL files to verify that sims start (except for those that were broken before this refactor).  And I verified that all sims build by running `grunt-all.sh` (except for those that didn't build before this refactor).

I did not verify unit tests (for sims and common code) because I'm not fami

[2015-05-15 23:14] pixelzoom commented on #14
The last piece of work here is to determine which version of Font Awesome we used to create the icons in sun.FontAwesomeNode.  See https://github.com/phetsims/sun/issues/187 for more thoughts on that.

[2015-05-15 23:22] pixelzoom commented on #18
How about if chipper had a build.json file? Example below. There would be "common" and "together" objects, each with "preload" and "licenseKeys" metadata. This stuff is currently inlined in setPreload.js and setLicenseText.js.

[code]

[2015-05-15 23:23] pixelzoom commented on #18
The above file would be read using something like:

`var buildInfo = grunt.file.readJSON( '../sherpa/build.json' );`

[2015-05-15 23:24] pixelzoom commented on #18
Assigning to @samreid for his opinion on build.json.

[2015-05-16 00:09] pixelzoom commented on #14
The latest version of Font Awesome is 4.3.0.  It has the file that was used to create font-awesome.txt (fontawesome-webfont.svg) and it is covered under the SIL OFL 1.1 license that is mentioned in info.json.  So I've renamed the "font-awesome" key to "font-awesome-4.3.0".

All libraries now have either version numbers, or specific issues to add version numbers.

Closing.

[2015-05-16 00:09] #14 closed

[2015-05-16 16:44] pixelzoom commented on #18
I went ahead and implemented build.json.  Seemed like a good place to capture all of the "common" stuff that sims specify in package.json.  I named it build.json because it's associated with the grunt "build" task, but open to a better name.

[2015-05-19 16:14] pixelzoom commented on #19
I went to phetmarks/index.html, clicked on all of the "unit test" links, and didn't see any problems. So looks like unit tests are OK.

Closing.

[2015-05-19 16:14] #19 closed

[2015-05-19 16:15] pixelzoom opened #25 "require-i18n license entry has no version number"
See sherpa/info.json.

[2015-05-19 16:30] pixelzoom commented on #18
5/19/15 dev meeting: Looks good as is, close issue.

[2015-05-19 16:30] #18 closed

[2015-05-19 23:47] samreid commented on #25
We have created our own i18n support and are no longer using the version that ships with require.  I'll close this issue and create a new issue about removing require-i18n things.

[2015-05-19 23:47] #25 closed

[2015-05-19 23:49] samreid opened #26 "Remove require-i18n things"
In #25 @pixelzoom identified that require-i18n has an entry in info.json but no license specified.  @samreid pointed out that we are no longer using require-i18n since we have created our own string plugin for internationalization.  We need to remove the entry from info.json and an entry from chipper/build.json.

[2015-05-19 23:57] samreid commented on #26
I removed all the references I could find above.  Reassigned to @pixelzoom to double check (a) that we are indeed not using require-i18n (b) that I got all of the references in my 2 commits above and (c) there is nothing left to do here.

[2015-05-20 18:27] pixelzoom commented on #26
Looks good, closing.

[2015-05-20 18:27] #26 closed

[2015-05-22 19:50] pixelzoom commented on #17
I verified the unit tests via phetmarks. Closing.

[2015-05-22 19:50] #17 closed

[2015-05-26 17:13] jonathanolson commented on #24
Updated, let me know if this is sufficient.

[2015-05-26 17:18] #24 closed

[2015-05-28 17:48] pixelzoom commented on #22
5/28/15 dev meeting:

@pixelzoom: Move all info from spreadsheet into sherpa/info.json.  Delete libs that do not include code in the html file (i.e., no licenses for stuff that is exclusively part of toolchain). Update chipper/build.json to include the proper keys in licenseText that are required by all sims.

@aaronsamuel137: Write a script to generate something that is human-readable from info.j

[2015-05-28 17:48] pixelzoom commented on #22
I'll assign this issue to @aaronsamuel137 when I'm done with my piece.

[2015-05-28 19:44] pixelzoom opened #27 "sizzle URL for jquery?"
Why does the info.json entry for "jquery-2.1.0" include URL http://sizzlejs.com?

[2015-05-28 19:53] samreid commented on #27
Because jquery includes sizzlejs.  Here is the full text you are referring to, which says "includes Sizzle.js":

[code]

and here is a stackoverflow thread that says that sizzle is a component of jquery (see top answer):

http://stackoverflow.com/questions/15785978/what-is-the-advantages-of-using-javascript-sizzle-library

[2015-05-28 20:35] pixelzoom commented on #27
Great, thanks.

[2015-05-28 20:35] #27 closed

[2015-05-28 20:53] pixelzoom commented on #22
@kathy-phet wrote in email:

Hi Aaron,

This is the link I will use.

http://phet.colorado.edu/third-party-libraries

Look OK?
Kathy

[2015-05-28 21:32] pixelzoom commented on #22
Libraries in spreadsheet that are not in info.json:

grunt
html5-shiv
modernizr
node
PxLoader
uglify2

[2015-05-28 21:48] pixelzoom commented on #22
Libraries in spreadsheet that are not in info.json:

grunt
html5-shiv
modernizr
node
PxLoader
reveal
uglify2

I added reveal-3.1.0 to info.json. I deleted the others from the spreadsheet, since they are either no longer used or are not included in the html deliverable.

[2015-05-29 20:52] pixelzoom commented on #22
Moved all license URLs from spreadsheet to info.json, optional field for when license has a URL that is different from project URL.

[2015-05-29 20:54] pixelzoom commented on #22
I am not going to move the "Which sims is it used in?" column from the spreadsheet to info.js.  This is unlikely to be kept up to data.  And it can be easily determined by searching in build.json and package.json. If it's in build.json, then it's used by all sims.  If it's in package.json, then it's used by those specific sims.

[2015-05-29 20:57] pixelzoom commented on #22
@samreid I need to discuss the Google license spreadsheet with you.  The semantics of a few columns are unclear: "Compliance in Beer's Law Lab", "Compliance on GitHub", "Added 7/21/2014". And it's unclear whether those columns (and a couple of others) are needed.

[2015-05-29 21:27] pixelzoom commented on #22
Remaining questions about the spreadsheet:

• What is the "Compliance in Beer's Law Lab" column?
• What is the "Compliance on GitHub" column?
• What is the "Added 7/21/2014" column?
• Does info in any of the above columns need to be migrated to info.json?
• Since only libs whose code appears in deliverables need to be included, I'm assuming that the "Does it appear in run-time HTML5 code?" column

[2015-06-08 18:04] pixelzoom commented on #22
I've been asked to complete this sooner rather later.  @samreid when is a good time to discuss the questions above?

[2015-06-09 19:05] pixelzoom commented on #22
• What is the "Compliance on GitHub" column?
• What is the "Added 7/21/2014" column?

These columns are related to contracts that @kathy-phet was working on, check with her.

Possibly need to archive the spreadsheet.  Unlikely to propagate to info.json.

[2015-06-09 19:11] pixelzoom commented on #22
We'll keep the things that are distributed via sherpa, but we'll ditch the others.

[2015-06-09 19:18] pixelzoom commented on #22
Leave as is for now.

Replaced by PhET's own text.js plugin (see chipper).

Also keep things like documentation tools.

[2015-06-09 19:19] pixelzoom commented on #22
Leave as is for now. Revisit when it's put in human-readable format.

[2015-06-09 19:33] pixelzoom opened #28 "can has.js be deleted?"
has.js has this dubious license in info.json:

We probably shouldn't be using anything that is "tentatively" licensed. Investigate whether we really need has.js.

[2015-06-09 19:35] pixelzoom commented on #28
This is apparently a scenery dependency, see https://github.com/phetsims/scenery/issues/304. So we'll address it there. Closing as duplicate.

[2015-06-09 19:35] #28 closed

[2015-06-09 20:12] pixelzoom commented on #22
Commits not attached to this issue:

Removed "usage" field: https://github.com/phetsims/sherpa/commit/4d7db8b25b411085fc8e90999293df5eece70cfb
Fixed lodash entry: https://github.com/phetsims/sherpa/commit/202fcf39f50ea4b1c740771044a92672fdd889a0
delete requirejs-text, delete selectedLicense field, touch up license fields, pull licenseURL out of license field: https://github.com/phetsims/sherpa/com

[2015-06-09 20:13] pixelzoom commented on #22
@samreid and I worked on this.

Open issues:

1. Is it OK to put license info into html deliverable as JSON?

2. Verify with @kathy-phet that the omitted spreadsheet columns were specific to contracts, and see if she needs a snapshot before deleting the spreadsheet.

[2015-06-09 20:17] pixelzoom opened #29 "licensing URL for HTML5 sims?"
HTML deliverables have this comment header (for example):

[code]

Does the URL http://phet.colorado.edu/en/about/licensing pertain to HTML5 sims? For example, it has language like this:

... which doesn't mention the HTML5 executables.

Is this URL correct? Does the webpage need to be updated? Is there a different URL for HTML5 sims?

[2015-06-09 20:18] pixelzoom commented on #29
This header is actually generated by chipper in afterRequirejsBuild.js, circa line 205.

[2015-06-09 20:19] pixelzoom commented on #29
Moved this issue to https://github.com/phetsims/chipper/issues/150.

[2015-06-09 20:19] #29 closed

[2015-06-10 14:46] jonathanolson commented on #22
It seems string.js uses the text plugin directly:
[code]

I also don't see a 'text.js' in chipper, can you clarify the comment @pixelzoom?

[2015-06-10 17:19] samreid commented on #22
I see, it does look like `text-2.0.12.js` has many usages.

[2015-06-10 17:22] pixelzoom commented on #22
I'll resurrect the entry for requirejs-text.

[2015-06-10 18:00] pixelzoom commented on #22
There are 2 libs that have entries in info.json, but no actual file in sherpa/lib/.

"reveal-3.1.0" is addressed in https://github.com/phetsims/scenery/issues/435

"pegjs-0.7.0" is addressed in https://github.com/phetsims/kite/issues/48

[2015-06-10 18:11] pixelzoom commented on #22
There are entries in info.json that are not bundled into the html deliverable, but are instead used in unit testing or to generate documentation. It's appropriate to have them in info.json because there are associated files in sherpa/lib/.

Related questions:
• What is the audience for the human-readable version of info.json?
• Do we need to filter out entries that don't appear in the html deliver

[2015-06-10 18:20] pixelzoom commented on #22
Email to @kathy-phet:

Hi Kathy,

The Google spreadsheet for 3rd-party libraries is at:
https://docs.google.com/spreadsheets/d/1XWlHFidztUT6ARb7yHQ1Naepd6L0x9LF94AAoKHGaWg/edit?usp=drive_web

As we discussed recently, this information is being consolidated in sherpa/info.json. Aaron will be generating human-readable output from info.json. And the Google spreadsheet will be deleted.  This is being

[2015-06-10 18:57] pixelzoom opened #30 "delete sherpa/licenses/ ?"
What is the purpose of sherpa/licenses/ ?
Looks like these can easily get out of sync with info.json license links.
And there are things in here that aren't in info.json.
Can we just delete the entire directory, or are they needed by something?

Assigning to @samreid for comment, since I believe he create this dir.

[2015-06-11 16:09] samreid commented on #30
At one point I thought the licenses themselves were being included in the minified HTML file.  It appears this is no longer the case and since our licenses are fairly standard (mostly MIT and SIL) this may not be necessary.  Do any of the licenses require us to copy the license to the HTML file?  If not, then I think we can get rid of these.

[2015-06-15 15:52] pixelzoom opened #31 "rename info.json to something more descriptive?"
"info" is pretty vague.  Should we rename this to something like "third-party-licenses.json" ?

Feedback from @jonathanolson @samreid and anyone else who is interested please.

[2015-06-15 15:55] samreid commented on #31
third-party-licenses.json sounds like a major improvement over info.json

[2015-06-15 17:10] pixelzoom commented on #31
Renamed to third-party-licenses.json, closing.

[2015-06-15 17:10] #31 closed

[2015-06-16 21:35] pixelzoom commented on #22
Still waiting on feedback from @kathy-phet on this. This is a prerequisite to moving forward with "Summer 2015 redeploy".

[2015-06-16 22:19] kathy-phet commented on #22
Hi Chris et al.,

The Google Spreadsheet should not be deleted. The content can be cleared and a redirect link put into the first cell -- but the spreadsheet link needs to live on.

The purpose of these 3 columns were for specific contracts, but maintaining this information in not needed. The new information will be sufficient - as long as a link is used to redirect anyone with this google doc lin

[2015-06-16 22:23] pixelzoom commented on #22
Got it.

@aaronsamuel137 when you create the human-readable form, please replace the contents of the Google spreadsheet with a link to the URL where the human-readable form can be viewed.

[2015-06-16 22:29] aaronsamuel137 commented on #22
Sounds good. Feel free to assign to me when it is ready to go.

[2015-06-17 22:34] jonathanolson opened #32 "Incorrect font-awesome version in third-party-licenses.json"
It's definitely not 4.3.0 for what we're using, as our icon names don't exist there. The icon prefix looks to be in 3.x (e.g. http://fortawesome.github.io/Font-Awesome/3.2.1/icons/), not the latest version.

@samreid, can you identify which version of font-awesome was used, and optionally check in the needed content so we could regenerate the file?

[2015-06-17 23:46] pixelzoom commented on #32
I believe that the content file is sherpa/libs/font-awesome.txt (or something like that, going from memory, can't check right now.)

[2015-06-18 05:08] jonathanolson commented on #32
Yup, https://github.com/phetsims/sherpa/blob/master/lib/font-awesome.txt

[2015-06-18 17:35] samreid commented on #32
This was introduced in svn Commit: 72724 By samreid on 09 Apr 2013 22:44, we can probably use that to determine the font awesome version number.

[2015-06-18 17:48] pixelzoom commented on #22
@kathy-phet would like this comment added:

[code]

[2015-06-18 17:57] pixelzoom opened #33 "include complete license text for all third-party libraries that require it"
@samreid noted at 6/18/15 dev meeting the The MIT License requires inclusion of the copyright and permission notice. See https://en.wikipedia.org/wiki/MIT_License#License_terms

This is likely true of other licenses (BSD, SIL,...)

Need to vet each license and add a licenseText field to third-party-licenses.json

[2015-06-19 00:41] samreid commented on #32
According to the font awesome history

So I think this is a "good enough" guess for the version of Font Awesome that we are using.

[2015-06-19 00:45] samreid commented on #32
Last commit from 3.0.2 tag is Jan 17, 2013.  Last commit from 3.1.0 is May 10, 2013, so perhaps we were using 3.0.2, since I was using a release (not from github master)

[2015-06-19 00:47] samreid commented on #32
I found an identical match based on content diff here:

https://raw.githubusercontent.com/FortAwesome/Font-Awesome/v3.0.2/font/fontawesome-webfont.svg

[2015-06-19 00:53] samreid commented on #32
According to https://github.com/FortAwesome/Font-Awesome/tree/v3.0.2

but

We are using the pictograms, not the font, so we'll need to update our license accordingly.

[2015-06-19 00:56] samreid commented on #32
I am very confused--I looked in the font files (TTF and OTF) and they contain pictograms.  We are using the text from the SVG file, so I guess that is considered pictograms.  The other complication is that it says the pictograms are CC BY 3.0, but it also says after CC BY 3.0:

"By" means attribution required, but "Attribution is no longer required" contradicts this.  So confusing.

[2015-06-19 00:57] samreid commented on #32
I recommend to change the filename to match the one on the web.

[2015-06-19 01:01] samreid commented on #32
@ariel-phet do you want a graphic artist to redesign these iconic fonts we are using so we can steer clear of this licensing confusion? We are currently using:

cut
times_circle
fullscreen
home
reorder
check_without_box
warning_sign
eye_close
eye_open
warning_sign
volume_up
volume_off
check
check_empty

[2015-06-19 01:10] samreid opened #34 "entries in third-party-licenses.json should have suffixes"
For instance: fontawesome-webfont-3.0.2.svg instead of fontawesome-webfont-3.0.2

[2015-06-19 01:13] samreid commented on #32
I did not see any usages of font-awesome.txt so I am proceeding to rename it.

[2015-06-19 01:15] samreid commented on #32
Renamed and updated the third-party-licenses.json above.  But I also noted that the file is "fontawesome-webfont-3.0.2" so I am back to being confused about whether we are technically using the "pictograms" or the "font", since "webfont" is in the filename that we are using.

[2015-06-19 01:21] samreid commented on #32
Also it is in the "font" directory--this begs the question: what exactly are the pictographs?

But this page explains:
http://fortawesome.github.io/Font-Awesome/license/

In the latest version, the directory is "fonts" and it contains the SVG. In the 3.0.2, the directory is "font" and it contains the SVG.  So I think we can infer that we should be using the SIL OFL (as we have), not the CC BY 3.0.

[2015-06-22 16:49] samreid commented on #33
We discussed license inclusion with Molly Markley (our legal representative) and received an email with the subject line `License issues for PhET 3rd party libraries` on 9/20/13

My Thunderbird is acting crazy and I'm not able to see the entire email thread, but I'm remembering now that Molly approved us to just put the licenses in sherpa and not include them in the builds.  I'm going to tinker wi

[2015-06-22 21:49] samreid commented on #33
I found the missing Thunderbird mail file and was able to get the full context.  Here is my original question to Molly:

[code]

[2015-06-22 21:53] samreid commented on #33
Just checking on the point made above, I looked for the underscore CDN and found the minified JS file here:
https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js

It has this header:

[code]

The full text of the MIT license is *not* included.  It is difficult to see how this does not violate the terms of its own license:

[2015-06-22 21:59] samreid commented on #33
Relevant link:
http://programmers.stackexchange.com/questions/45033/can-i-minify-javascript-that-requires-copyright-notice

I found these markers in several of our libs, such as /**! or `@license` (though not in all our libs)

and orbling said:

However, Gordon said (as we have above)

[2015-06-22 22:01] samreid commented on #33
Looks like these folks are having the same conversation we are.

[2015-06-22 23:31] samreid commented on #32
Reassigning to @ariel-phet to respond to the last few comments.

[2015-06-22 23:41] samreid commented on #22
I added comment text above the 3rd party licenses, as requested in this comment https://github.com/phetsims/sherpa/issues/22#issuecomment-113234292

I tried building hookes-law and it looked like so:

[code]

[2015-06-22 23:45] samreid commented on #22
@aaronsamuel137 what additional work or information are you waiting on before you start work on this?  Also, I recall at a recent meeting that JSON text like in the above comment is not completely opaque--should we discuss just using the JSON instead of filtering + maintaining it?  What did you have in mind for human-readable?

[2015-06-23 01:03] aaronsamuel137 commented on #22
I am not waiting for anything except the issue being assigned to me. I haven't followed the details too closely, so I haven't been sure if everything was ready yet.

I agree that the JSON is not too opaque, but I think the idea is to get a nice looking md file that we can redirect to from http://phet.colorado.edu/third-party-libraries. (see https://github.com/phetsims/website/issues/208).

I haven

[2015-06-23 01:11] samreid commented on #22
Reading through the comments from above, this seemed like a good idea:

Github markdown provides a nice table output, so perhaps that would work well here.  @aaronsamuel137 please feel free to start on this at your convenience and let me know if/when you have questions or comments.

[2015-06-23 01:18] samreid commented on #22
@aaronsamuel137 please see related issue https://github.com/phetsims/chipper/issues/158

[2015-06-23 12:39] pixelzoom commented on #22
Re the spreadsheet...

@kathy-phet said:

So I updated the original instructions and @samreid's quote directly above to say:

[2015-06-24 17:01] samreid commented on #33
Notes from yesterday's meeting:

✓SR: We should discuss whether to include complete license texts in our minified file, see https://github.com/phetsims/sherpa/issues/33
SR: Our lawyer and common practice says it’s okay just to add links, as we are currently doing.  However the letter of the law says we must include this text in *every copy*.  I am leaning toward including it, but wanted to get oth

[2015-06-24 17:02] aaronsamuel137 commented on #22
Added iteration 1 of the table markdown generator. To use, run

[code]

from chipper root. This will commit and push to sherpa.

Currently, the format is a markdown table which requires horizontal scrolling. It might be a good idea to look into other formats that don't require scrolling.

[2015-06-24 17:46] samreid commented on #22
@aaronsamuel137 & I reviewed the sample output at https://github.com/phetsims/sherpa/blob/a1cd1f4d425c127226635229f7aa06d096395f92/info.md and decided to investigate a non-tabular MD output.  Assigned to @samreid to look into this since it relates significantly to https://github.com/phetsims/chipper/issues/162

[2015-06-25 18:05] samreid commented on #32
@ariel-phet said we won't be redrawing these icons at the moment.  @samreid will review the SIL OFL to see if any other work is required.

[2015-06-25 18:46] samreid commented on #33
@ariel-phet said this would not be necessary before starting 2015 Summer redeploys, but would be nice to get it done soon (before all of the Summer 2015 redeploys are complete).

[2015-06-25 18:58] samreid commented on #32
I read through http://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web and did not see any troublesome language, closing.

[2015-06-30 15:01] pixelzoom commented on #30
#33 (include complete license text for all third-party libraries that require it) seems to indicate otherwise.

[2015-07-03 21:56] samreid commented on #22
I've been working on a non-tabular output and it seems like a good direction to go in.  I'm getting tired of having changes on my working copy so I'm going to commit what I have so far even though this is not yet complete.

[2015-07-03 21:57] samreid commented on #22
I committed my partial progress above, reassigning to myself to continue work in the future.

[2015-07-06 20:59] samreid opened #35 "Not every file in lib/ has an entry in third-party-licenses.json"
While working on #34, I noticed there are several files in lib/ that are missing entries in third-party-licenses.json.  We should enumerate them, find out why they are missing and either (a) remove from lib/ or (b) add license info to the json file.

[2015-07-06 21:03] samreid commented on #34
This means we will also need suffices in build.json in this block:

[code]

Not sure if we will have to make any changes to sim package.json files because of this.

[2015-07-06 21:11] samreid commented on #22
Here is a sample of the current output:

**text-2.0.12.js**
*RequireJS text 2.0.12<br>Copyright (c) 2010-2014, The Dojo Foundation All Rights Reserved.*
http://github.com/requirejs/text
- Available via the MIT or new BSD license.  undefined
- Loads strings to be displayed in the sim, including internationalized strings.

**three-r68.js**
*Three.js r68<br>Copyright &copy; 2010-2014 three.js authors

[2015-07-06 21:12] pixelzoom commented on #34
You'll also need to look at any licenseKeys entries in package.json for individual sims.

[2015-07-06 21:15] samreid commented on #34
I can't find any licenseKeys entries in package.json for individual sims.  Am I doing this right?

[2015-07-06 21:17] samreid commented on #34
In the above commit, I added the suffixes and removed the logic that was stripping *.js in chipper.  I tested building forces-and-motion-basics and launching it and didn't see any new problems.  Reassigning to @pixelzoom to see if there's anything else to do for this issue and to conclude our conversation above in https://github.com/phetsims/sherpa/issues/34#issuecomment-119000325

[2015-07-06 21:21] samreid commented on #34
One more issue: in the above, there is now a string "jama-1.0.2.js" but unfortunately there is no such file.

[2015-07-06 21:23] pixelzoom commented on #34
There may not be any licenseKeys yet in package.json for individual sims. They're only needed for sim-specific 3rd-party libs that aren't specified in preload.

[2015-07-06 21:25] samreid commented on #22
I'm not sure why this was tagged as for Summer 2015 Redeploy since it seems to be about updating the metadata outside of the simulations rather than the actual build artifacts.  @pixelzoom can you comment on why the S2015R label was added and whether it is still necessary?

[2015-07-06 21:25] samreid commented on #34
OK, thanks. I'll move the JAMA problem to a new issue and close this one.

[2015-07-06 21:26] samreid opened #36 "There is now a string "jama-1.0.2.js" but unfortunately there is no such file."
See #34. There is now a string "jama-1.0.2.js" but unfortunately there is no such file.

[2015-07-06 21:26] #34 closed

[2015-07-06 21:37] samreid commented on #22
Here's another way of indenting it, but unfortunately relies on a bunch of `&nbsp;` for whitespace which shouldn't be used directly in the HTML.

**three-r68.js**
&nbsp;&nbsp;Three.js r68<br>&nbsp;&nbsp;Copyright &copy; 2010-2014 three.js authors
&nbsp;&nbsp;http://threejs.org
&nbsp;&nbsp;The MIT License  https://github.com/mrdoob/three.js/blob/master/LICENSE
&nbsp;&nbsp;For the 3D view (WebGL and

[2015-07-06 21:38] samreid commented on #22
Here's the same thing without indents:

**three-r68.js**
Three.js r68<br>Copyright &copy; 2010-2014 three.js authors
http://threejs.org
The MIT License  https://github.com/mrdoob/three.js/blob/master/LICENSE
For the 3D view (WebGL and Canvas)

**Tween-r12.js**
Tween.js r12<br>Copyright (c) 2010-2012 Tween.js authors.
https://github.com/sole/tween.js/
The MIT License. Easing equations Copyright (c)

[2015-07-06 21:49] pixelzoom commented on #22
I believe the goal was to have licensing correct and complete before new sims were released. Verify with @ariel-phet, because this is not my call.

[2015-07-06 21:55] samreid commented on #22
In @aaronsamuel137's original work, this was set to automatically commit every time the task `grunt generate-markdown` is run.  I restored that functionality above.

[2015-07-06 21:56] samreid commented on #22
I think we should give this a more specific name such as generate-third-party-license-markdown.  Or, since it is committing it as well, perhaps `update-third-party-license-spreadsheet`

[2015-07-06 22:03] samreid commented on #22
@jonathanolson @jbphet and @pixelzoom do you want this to auto-commit or just update your working copy and put a message on the screen to remind you to commit?

[2015-07-06 22:58] samreid commented on #22
Also to discuss.  Who/when should this task run?  Possibly with every deploy, just so we never forget?

[2015-07-06 23:03] samreid commented on #22
Reassigning to @ariel-phet to comment on whether this issue should be labeled as Summer 2015 Redeploy.

[2015-07-06 23:04] samreid commented on #22
More generally, here are all of our 10 open licensing issues:
https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+sort%3Aupdated-desc+is%3Aopen+label%3Alicensing+user%3Aphetsims+

We should decide which, if any, are prerequisite for the Summer 2015 Redeploys.

[2015-07-06 23:09] samreid commented on #36
I stripped the suffix for jama-1.0.2 above, since it is not a JS file but rather a marker indicating that JAMA code is used in dot.  Closing.

[2015-07-06 23:09] #36 closed

[2015-07-07 03:52] pixelzoom commented on #22
I'm ok with an auto commit and push.

[2015-07-07 04:36] jonathanolson commented on #22
If it isn't run on normal builds, etc., I don't have a preference.

[2015-07-07 16:55] samreid commented on #22
As discussed in our meeting:

[2015-07-07 18:17] samreid opened #37 "Determine which license issues should be marked for S2015R (Summer 2015 Redeploy)"
In https://github.com/phetsims/sherpa/issues/22#issuecomment-119023356 we wanted to discuss which of the licensing issues (if any) should be marked for Summer 2015 Redeploy.

It may be sufficient to make sure the license information that gets bundled into the built simulation is correct, but would be good to discuss & verify.

[2015-07-07 22:23] samreid commented on #30
Whatever we decide to do here will be covered by #33, closing.

[2015-07-07 22:23] #30 closed

[2015-07-08 17:22] samreid commented on #22
I backed up an xslx archive of the google spreadsheet here https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3703

[2015-07-08 17:26] samreid commented on #22
By the way, here is a link for the markdown copy of the json file:
https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

[2015-07-08 17:28] samreid commented on #22
I put a clickable link in the 1st sheet of the google doc:
https://docs.google.com/spreadsheets/d/1XWlHFidztUT6ARb7yHQ1Naepd6L0x9LF94AAoKHGaWg/edit#gid=1852351488

I'll leave the other sheets until @kathy-phet has verified that everything looks ok.

[2015-07-08 17:31] samreid opened #38 "make sure third-party-licenses.json is in sync with lib directory contents"
From #22, we should additionally make sure the third-party-licenses.json is in sync with the directory contents so that (a) we aren't missing attribution for something we are using and (b) so that we aren't providing attribution for something we aren't using.

[2015-07-08 17:32] samreid commented on #22
I moved #38 to a separate issue and now I believe this issue is ready for @kathy-phet feedback, perhaps at tomorrow's developer meeting.

[2015-07-08 17:36] pixelzoom commented on #22
https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

Looking good!

[2015-07-09 03:13] samreid commented on #33
I'm on the fence about whether to include the full license texts in:

(a) separate files, one file per license
*or*
(b) inlining the license texts into the third-party-licenses.json, probably each as an array[] of lines

Can I hear some opinions @pixelzoom @aaronsamuel137 @jbphet @jonathanolson @jessegreenberg?

[2015-07-09 03:23] samreid commented on #33
Actually I'm leaning toward separate files at the moment.

[2015-07-09 03:26] samreid commented on #33
We'll also need to decide how to include it in the HTML file.  If it is a JSON string, we can access it at runtime to show in the about dialog, say for the future, but it will look ugly in the HTML file.  Conversely if we include it as a code comment it will look nice in the HTML raw text but not available for the about dialog.

[2015-07-09 17:04] samreid opened #39 "Look through third-party-licenses.md and make sure everything looks good"
@kathy-phet pointed out some `undefined` today, we should look through everything and make sure it is ready to go.

[2015-07-09 17:35] samreid opened #40 "Add "License: " to each license line in the MD report"

[2015-07-09 17:35] samreid opened #41 "Capitalize all of the usage notes and prepend with "Notes: ""

[2015-07-09 17:37] samreid opened #42 "Add "Appears in Published Simulations: " field, if easy"
@kathy-phet said if it is easy to add an "Appears in Published Simulations" field, we should do so.

[2015-07-09 17:37] samreid opened #43 "Review all licenses for 3rd party code that appears in simulations to see if they are OK"
@kathy-phet wanted to verify that our 3rd party code appearing in simulations is not problematic.

[2015-07-09 18:03] pixelzoom commented on #42
That's going to be a headache to keep accurate. We'll have to remember when we stop using libraries in a sim. And when we republish that sim, we'll need to determine if any versions of sims currently on the website still use the libraries that the sim being published has stopped using.  It's going to be about as complicated to determine as it is to describe :)

[2015-07-09 18:40] kathy-phet commented on #22
Reviewed with Sam. Back to Sam for final tweaks.

[2015-07-09 18:51] samreid commented on #22
I've created #43 #42 #41 and #40 based on review from @kathy-phet and still need to work on #39.  Since everything else is tracked elsewhere and the main work for this issue (converting JSON=>MD) is done, I'll close this issue.

[2015-07-09 18:51] #22 closed

[2015-07-09 19:05] samreid commented on #37
@ariel-phet said making sure the license information that gets bundled into the sim seems like a good threshold, and we can do this on a sim-by-sim basis to start.  Code review phase seems too late, perhaps this should be in the RC testing checklist?  Not really sure where to add this.  @ariel-phet can you suggest a place?

[2015-07-10 02:01] samreid commented on #33
I augmented setThirdPartyLicenses to include the full license text (will commit shortly), but here is what the output looks like for Hooke's Law.

[code]

I considered adding line breaks for licenses that go off the page to the right, but am now leaning toward leaving this as-is for the following reasons:
* many editors (such as Chrome "view source") properly wrap the code so you can see it all an

[2015-07-10 02:11] samreid commented on #33
I added full license text to the simulations builds in the above commits, @pixelzoom do you have time to review my changes?

[2015-07-10 02:18] samreid commented on #32
Reopening, we never changed the license from CC-BY to SIL after discovering that pictograms are covered under the SIL.

[2015-07-10 02:20] #32 closed

[2015-07-10 03:23] samreid commented on #42
Agreed, this would be feasible if we just had to track what is currently in master, but we previously decided we need to track what is published on the website, so this would be an order of magnitude more complex.  I'll close it as "will not complete".

[2015-07-10 03:23] #42 closed

[2015-07-10 15:05] samreid opened #44 "delete howler"
I asked @jbphet if we could delete howler.  Perhaps it has served its purpose in its experiment file.

[2015-07-10 15:05] samreid commented on #44
If we do not delete it, I will need to update its license file.

[2015-07-10 16:15] samreid commented on #44
thanks @jbphet closing.

[2015-07-10 16:15] #44 closed

[2015-07-10 16:33] samreid commented on #40
Done, see https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md
Closing.

[2015-07-10 16:33] #40 closed

[2015-07-10 16:33] samreid commented on #41
Done, see https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md
Closing.

[2015-07-10 16:33] #41 closed

[2015-07-10 20:53] pixelzoom commented on #33
Review comments:

`console.log` is used in Gruntfile.js and licenseTXTReport.js, and should be replaced with `grunt.log.writeln`. See https://github.com/phetsims/chipper/issues/125.

How about deleting the 'print-third-party-licenses' task in Gruntfile.js, and adding:
`grunt.verbose.debug( JSON.stringify( global.phet.thirdPartyLicenses, null, 2 ) )`
...after line 111 of setThirdPartyLicenses.txt.

[2015-07-11 03:22] samreid commented on #33
I tried using grunt.log.writeln but instead of printing the licenses it printed simply:
[object Object]

I'll need to find a way to stringify this.

[2015-07-11 03:24] samreid commented on #33
console.log turned into grunt.log.writeln( JSON.stringify( global.phet.thirdPartyLicenses, null, '  ' ) ); in one case but now it looks like it is working.

[2015-07-11 03:28] samreid commented on #33
Committed grunt.log.writeln in https://github.com/phetsims/chipper/commit/dfd8046bcfa879a00e2c3785e50f1191db5e1328

[2015-07-11 03:34] samreid commented on #33
`grunt.verbose.debug( JSON.stringify( global.phet.thirdPartyLicenses, null, 2 ) );`
...after line 111 of setThirdPartyLicenses.js. Then use `grunt -d -v report-third-party-licenses` to print the report.

I like this suggestion and have got it working well on my working copy.  I'll commit shortly but wanted to point out that when running `grunt -v -d` it will also print this license block--ok with

[2015-07-11 03:45] samreid commented on #33
@pixelzoom are you up-to-date on this file?  My history shows that you fixed this problem on June 15 in https://github.com/phetsims/chipper/commit/56ee29a0abc2910e2f1b5bf8850a8180ffb14486

and my master reads like this for line 251 at the moment:
[code]

Reassigning to @pixelzoom to review my comments on (1) and (2) and (3) from above.  By the way, thanks for the helpful suggestions.

[2015-07-11 03:54] pixelzoom commented on #33
Hmm...Could've sworn that I pulled, but looked again and see that it's not a problem.

[2015-07-13 21:45] pixelzoom commented on #33
@samreid wrote:

OK with me.

I fixed a few spacing issues with the help text for "report-third-party-licenses" task.

@samreid Feel free to close if there's nothing else to do here.

[2015-07-14 23:02] ariel-phet commented on #37
@samreid - what do you think about a redeploy checklist...seems like it might be useful to develop. That way that can become an issue for each sim we redeploy, and ensure we do not miss any steps.

[2015-07-14 23:16] ariel-phet commented on #37
Perhaps lets make a sample list here and then put it in phet-info when ready?

@samreid - thoughts/addition/clarifcations to the list below?

- [ ] Review outstanding issues, mark what will be addressed for redeploy
- [ ] Review and update licensing info
- [ ] Some sort of test for seeing if common repos are stable (grunt or such)
- [ ] Any sort of translation beta test necessary?
- [ ] Perform RC

[2015-07-14 23:17] ariel-phet commented on #37
@pixelzoom - can you also look at the preliminary list I created above and suggest any additions/clarifications

[2015-07-15 00:54] pixelzoom commented on #37
Since the focus of this redeploy is translations, I'd like to see the "translation beta test" item fleshed out a more.  Perhaps:

- [ ] stringTest=double
- [ ] stringTest=X
- [ ] stringTest=SomeExtremelyLongStringThatWouldLikelyBreakAnythingThatDoubleDidNotExpose
- [ ] Rosetta test (whatever that is)
- [ ] RTL language test

[2015-07-15 00:56] pixelzoom commented on #37
I'm wondering why this checklist is being discussed in this issue? Recommend to move it to an issue in tasks repo, titled something like "sim-specific checklist for Summer 2015 Redeploy".

[2015-07-15 17:51] samreid opened #45 "Add BSD license for easing equations"
Tween.js is attributed like so:

[code]

However, the fact that part of tween.js is covered by MIT and part covered by BSD should be elucidated in our metadata.  This will be complicated because our convention is thus far: one license per file.

[2015-07-15 17:56] samreid commented on #45
Ideas for dealing with this:
1. separate out the easing equations into a separate file.  This would mean all tween.js clients would have to point to the 2 files
2. call the license for this one "The MIT License and BSD License".  This would look like a separate license type.  We could concatenate the licenses into a single file so they would both be included.
3. Add a separate entry for easing equ

[2015-07-15 17:57] samreid commented on #45
Another option: make it so that each file can have multiple license metadatas.

[2015-07-15 18:00] samreid commented on #45
A few other projects fit into this category: for instance, jquery includes jsizzle.  Though in that case it is the same license and the same copyright statement, since both are from the same group.  Lodash gives attribution to underscore, and provides underscore's copyright statement.  benchmark-1.0.0.js is based on jslitmus.

[2015-07-15 18:01] samreid commented on #33
We'll have to complete #45 before this is done.

[2015-07-15 18:12] samreid opened #46 "review the original BSD advertising clause"
Two of our 3rd party licenses use the original BSD license, which includes this clause:

The libraries that use this are:
* Easing equations Copyright (c) 2001 Robert Penner under BSD license
* seedrandom-2.2.js

[2015-07-15 18:19] samreid commented on #46
It looks like the easing equations are actually the new (revised) bsd license even though the author just refers to it as the BSD license: http://robertpenner.com/easing_terms_of_use.html

So it is exempt from this clause.

[2015-07-15 18:19] samreid commented on #46
Same with seedrandom.  I'll update the license names in the metadata.

[2015-07-15 18:35] samreid commented on #46
OK I changed "BSD to Revised BSD" where appropriate, closing.

[2015-07-15 18:35] #46 closed

[2015-07-15 20:19] samreid commented on #45
I've decided to do the following:
1. create a separate license entry in third-party-licenses.json/md for easing-equations
2. include the license text for easing equations
3. add a new file in chipper requires easing-equations to be included if tween is included (errors out if not)

Working on this, I tested grunt with bending-light (after adding an entry to package.json licenseKeys) and it is prop

[2015-07-15 21:13] samreid commented on #45
I ran grunt-all.sh and did not see any issues related to the easing equations.  Will commit soon.

[2015-07-16 00:03] samreid commented on #45
Committed changes above.  Had git errors for chipper, capacitor lab and quantum-bound-states.  I'm looking into it.

For capacitor lab, it looks like as of today it no longer uses tween.  I have recloned the repo.
For chipper, it looks like it generated a merge commit.  @aaronsamuel137 can you check that I didn't disrupt anything?  I'm a little fuzzy on merge commits.
For quantum bound states, I d

[2015-07-16 00:11] samreid commented on #45
I posted this to the google group:

PhET Simulations sometimes use the Tween.js library which is built with Robert Penner's Easing Equations.  Since the easing equations have a different license than the tween library that includes them, we must add an attribution in the package.json file so it will include the licenses properly into the compiled HTML file.  Here is a commit showing the code to ad

[2015-07-16 00:12] samreid commented on #45
Reassigning to @pixelzoom to review the changes to chipper, if/when you have time.

[2015-07-16 00:16] samreid commented on #33
One other issue I'm somewhat concerned about.  If we want to show these license texts from within the simulation, we may wish to make sure they have consistent formatting with respect to line breaks.  But I think adding a UI to show the licenses would warrant a redeploy anyways, so standardization for line breaks is not essential for S2015R.  I'll create a separate issue.

[2015-07-16 00:17] samreid opened #47 "Standardize the line breaks for the full license texts"
If we want to show these license texts from within the simulation, we may wish to make sure they have consistent formatting with respect to line breaks. But I think adding a UI to show the licenses would warrant a redeploy anyways, so standardization for line breaks is not essential for S2015R.

Discovered in https://github.com/phetsims/sherpa/issues/33

[2015-07-16 00:28] samreid opened #48 "stats-r12 has an odd line break in the md output"

[2015-07-16 00:36] samreid opened #49 "The License URLs are problematic"
I have been including the license URLs in the MD output, but there are some problems:

1. In many cases, the simulation doesn't have a custom or hosted license, just a pointer to a generic license.  In these cases, I am pointing to the `page that states the license`, not the URL of the license itself.  Hence it is not really a LicenseURL but rather a URLthatStatesTheLicense, which is kind of confu

[2015-07-16 00:51] samreid commented on #49
Fixed above and the generated file looks much better. Nice work @samreid!  Closing.

[2015-07-16 00:55] samreid opened #50 "Does numeric.js require additional licenses"
numeric.js says "(See also licenses in the resources subdirectory.)"  Does it require auxiliary licenses?

[2015-07-16 01:07] samreid commented on #49
Likewise, I think we should omit these licenseURLs from the compiled HTML, should be done before https://github.com/phetsims/sherpa/issues/33

[2015-07-16 01:10] samreid commented on #49
Since this licenseURL output is in the HTML, I'd like to get it done before redeploys, I'll tag it as such.

[2015-07-16 05:29] samreid commented on #48
Fixed by adding the projectURL, closing.

[2015-07-16 05:29] #48 closed

[2015-07-16 05:32] samreid commented on #49
Actually, given the project url, the licenses are all very easy to track down for our current set of projects.  Since leaving in the licenseURL in the metadata would complicate stripping them out for the builds, I'm now recommending just to remove them altogether.

[2015-07-16 05:37] samreid commented on #49
Fixed above and manually verified that the output looks good, closing.

[2015-07-16 05:37] #49 closed

[2015-07-16 05:42] samreid commented on #50
There is only one license file in the resources subdirectory, and it is a copyright for "quadratic programming mainly".  It has a different copyright statement and is also covered by the MIT license, like numeric.js is.  Even though we are not using quadratic programming, we are including that code since I see

[code]
in our numeric.js.  So we should do what we did for #45 and add this additional

[2015-07-16 05:53] samreid opened #51 "Does pixi require additional licenses?"
I saw another copyright statement within the pixi code while I was passing by.  We should take a look whether it requires auxiliary licenses.

[2015-07-16 05:54] samreid opened #52 "Match auxiliary license names to their host versions"
For instance, we should make easing-equations and numeric-quadratic-programming include version numbers that match tween and numeric.  This will be helpful if we ever upgrade those libraries to newer versions.

[2015-07-16 05:56] samreid commented on #33
I looked through the license output and everything looks much better now, closing.  #50 and #52 can be done separately, and only apply to a few simulations.

[2015-07-16 05:56] #33 closed

[2015-07-16 06:00] samreid commented on #39
I've iterated through this many times and clicked through the project and license links and everything seems okay to me.  @ariel-phet I'm not sure if you want to go the extra mile and request someone else to double check everything in https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md  (mainly that the project URLs look right, go to the right place and I have correctly identifi

[2015-07-16 06:26] samreid commented on #43
The licenses appearing in our simulations are:

The MIT License
SIL Open Font License, Version 1.1
Revised BSD License
Public Domain
Use it if you like it

I read through all of the licenses and the only bit that seems potentially problematic is this section of the SIL Open Font License:

must be distributed entirely under this license, and must not be
distributed under any other license. The requ

[2015-07-16 11:24] kathy-phet commented on #43
We don't actually license the minified file as GPL. We license that as CC-BY, which is appropriate because it is a single object and its context of use. Only the individual repositories we build up on Github are GPL (or otherwise).

It sounds like FA would support the use in theory. I would like to understand better how the code appears in and is integrated into our code. They keep saying document

[2015-07-16 15:42] aaronsamuel137 commented on #45
Merge commit looks good. Nothing disrupted.

[2015-07-16 16:35] pixelzoom commented on #45
Sorry, I don't like this approach at all.  It's a patch for a specific case, not a robust/general solution.

A better approach would be to add an optional "dependences" field to entries in third-party-licenses.json. Then automatically add any libs that are listed.

For example, for Tween, the entry would be:

[code]

In setThirdPartyLicenses.js, add this after line 77:

[code]

Assigning to @samre

[2015-07-16 16:35] pixelzoom commented on #45
Btw... The above also has the advantage that we don't have to remember to include "easing-equations" every time we include "Tween-r12.js".

[2015-07-16 16:56] samreid commented on #45
The proposal to add an optional `dependencies` as array[string] sounds great, I'll do it for the next version.

[2015-07-16 17:01] samreid commented on #37
I looked through current licensing issues https://github.com/issues?q=is%3Aissue+is%3Aopen+label%3Alicensing+user%3Aphetsims+sort%3Acreated-asc and marked 2 or 3 for S2015R.  I'll move the S2015R redeploy checklist to a new tasks issue and close this one.

[2015-07-16 17:21] samreid opened #53 "Alphabetize the MD file"
I thought the list was alphabetized, but today I thought I saw an exception to that.  Alphabetization should be enforces by the code.

[2015-07-16 17:22] pixelzoom commented on #45
Ah yes, "dependencies" should be `string[]`. I amended the example in https://github.com/phetsims/sherpa/issues/45#issuecomment-122013352.

[2015-07-16 18:29] #37 closed

[2015-07-16 18:31] samreid commented on #45
I've made the changes above (which also address #52 and #50), tested by building with grunt for hookes-law and energy-skate-park-basics and inspecting their html to see that the dependencies are included properly, and by launching hookes-law.  I'll commit shortly.

[2015-07-16 18:47] samreid commented on #45
Fixed above and reassigned to @pixelzoom for review.

[2015-07-16 18:48] samreid commented on #52
Fixed during #45, closing.

[2015-07-16 18:48] #52 closed

[2015-07-16 18:48] samreid commented on #50
Fixed during #45, closing.

[2015-07-16 18:48] #50 closed

[2015-07-16 19:11] samreid commented on #43
@kathy-phet & I reviewed how font awesome appears in the sim code today.  I am much less concerned about this issue now that I know that the minified sim is CC-BY instead of GPL.  @kathy-phet said she will still review this with our legal counsel.

[2015-07-16 19:16] pixelzoom commented on #45
Looks great, thanks. Closing.

[2015-07-16 21:30] kathy-phet commented on #43
I looked at the details of the Font Awesome license. It all looks compatible to me, so I agree that this is not concerning with use in a CC-BY license product. I will have Molly take a look, though.

[2015-07-16 21:33] samreid commented on #43
Sounds good.  We're planning to start the summer redeploy process on Monday--I don't think this should push that back, but if you discover problems please let us know right away.

[2015-07-16 21:44] pixelzoom commented on #45
Reopening. @samreid you should probably amend your Google Group post.

[2015-07-16 21:48] samreid commented on #45
I sent out a new message on the google groups thread, thanks @pixelzoom.  Closing.

[2015-07-16 21:48] #45 closed

[2015-07-16 22:27] kathy-phet commented on #43
Molly responded:

[2015-07-16 22:30] kathy-phet commented on #43
Assigning back to Sam to close if he feels it is all resolved.

[2015-07-17 21:40] samreid commented on #43
Thanks @kathy-phet, I think this issue is complete, closing.

[2015-07-17 21:40] #43 closed

[2015-07-20 19:50] #53 closed

[2015-07-21 15:22] ariel-phet commented on #39
@samreid - I did a quick skim, and some spot checking. Everything looks good to me. I will also add a checklist item to our redeploy checklist to compare a sims licenses to the the spreadsheet so it gets some extra checking. Closing.

[2015-07-21 15:22] #39 closed

[2015-07-24 14:08] samreid commented on #51
In my opinion, we should eliminate pixi and focus our efforts on the scenery implementation of WebGL.  If we decide to use pixi again, we should address the licensing issues then.

[2015-07-24 14:10] samreid commented on #51
Pixi appears in many places and would be quite a bit of work to remove.  We should make sure we are in agreement about how to proceed here before removing things.  See also the many scenery pixi issues: https://github.com/phetsims/scenery/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+pixi

[2015-07-24 14:32] samreid opened #54 "Move sherpa/third-party-licenses.json to sherpa/lib/license.json"
Treating the sherpa licenses uniformly with the images & audio license.json files will simplify things and make it easier to generate reports looking for missing entries, stale entries, etc.

[2015-07-24 14:32] samreid commented on #54
This is related to https://github.com/phetsims/chipper/issues/180

[2015-07-24 14:43] samreid commented on #54
I moved the file above, and tested with grunt on hookes-law as well as grunt update-third-party-licenses-md.  All seems well, closing.

[2015-07-24 14:43] #54 closed

[2015-07-24 14:57] samreid commented on #35
We'll work on this in https://github.com/phetsims/chipper/issues/185 now, closing.

[2015-07-24 14:57] #35 closed

[2015-07-24 14:57] samreid commented on #38
We'll work on this in https://github.com/phetsims/chipper/issues/185 now, closing.

[2015-07-24 14:57] #38 closed

[2015-07-24 16:33] jonathanolson commented on #51
In your opinion, would it be worth keeping to see if future versions would improve reordering so they would require fewer draw calls?

[2015-07-24 16:37] samreid commented on #51
It is difficult to say.  It all depends on what issues we run into while developing scenery.webgl, what our time estimates for evaluating pixi v3+ are, etc.  Perhaps once we get time allocated back to webgl we should discuss this in-person and/or as a group.

[2015-08-03 16:21] pixelzoom opened #55 "move font-related stuff to sherpa/fonts/"
Broken out from https://github.com/phetsims/chipper/issues/175#issuecomment-127265301.

sherpa/lib/ is intended to contain 3rd-party code, and third-party-license.json was renamed license.json (see https://github.com/phetsims/sherpa/issues/54).  So it would make sense to move font-related files to sherpa/fonts/, with its own license.json.

[2015-08-04 15:03] samreid commented on #55
liberation-sans-regular-subset-numeric-degrees.js is on the fence between font and code.  It is technically a javascript code library that provides font.  Where should it live?

And I'm not even sure we need font-awesome checked in, since all of the derived data is elsewhere.  We just need to be able to specify its license.

Reassigning to @pixelzoom for discussion.

[2015-08-04 17:04] jonathanolson opened #56 "Update instructions for how to update the third-party-licenses.md file"
I updated three.js to r71, including adding two dependencies as discussed.

The README here notes to run "grunt update-third-party-licenses-md", but:
[code]

What process needs to be done to update this?

[2015-08-04 19:37] pixelzoom commented on #55
I think it's useful to have liberation-sans-regular-subset-numeric-degrees.js and fontawesome-webfont-3.0.2.svg checked in, given our difficulties in locating these in the past.

I would classify liberation-sans-regular and font-awesome as code, and drop the "fonts" category from documentation, reports, etc.

[2015-08-05 01:18] samreid commented on #56
@pixelzoom and I are in the process of improving how this is done.  We'll have to run a composite report once that is working properly again.  I'll leave it assigned to me to take care of, but noting that since three.js remained MIT in r71 it didn't introduce any new licensing encumbrances.

[2015-08-05 03:47] samreid commented on #55
I changed references from "code and fonts" to "code" throughout chipper and tested by building hookes-law, and running the built and requirejs hookes-law and inspecting the HTML.  I did not double check the composite license report (takes 30+ minutes to generate, and should be done when we run that task again).  Seemed good so I'll commit.

[2015-08-05 03:54] samreid commented on #55
I committed my changes locally but am receiving this error when I try to push:

fatal: unable to access 'https://github.com/phetsims/chipper.git/': Server aborted the SSL handshake

Twitter github status doesn't show anything awry at the moment.

[2015-08-05 03:56] samreid commented on #55
Fixed in https://github.com/phetsims/chipper/commit/8fa1a2731a86ae4b739f8626193ff5308345100d, closing.

[2015-08-05 03:56] #55 closed

[2015-08-06 16:59] samreid opened #57 "Regenerate the licensing report"
Since the version of three.js changed for Molecule Shapes, we need to update the third-party-licenses.md file, see #56

[2015-08-07 15:58] samreid commented on #56
I can run this after (a) building everything (b) parsing the version info out of the HTML.

[2015-08-07 18:00] samreid commented on #56
I updated the instructions above and regenerated the report.  @jonathanolson can you take a look and let me know if you have recommendations.

[2015-08-08 03:09] samreid commented on #57
The new version is live:
https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

Closing.

[2015-08-10 15:33] pixelzoom commented on #57
Looks generally awesome, nice job!

I do have one suggestion about formatting, not sure if it belongs in this issue.  I see some entries that look like this:

[code]

This would be easier to read without the blank lines, especially when there are contiguous entries like this.

[2015-08-10 15:40] samreid commented on #57
I think that stems from a missing or blank entry, I'll create a new issue for it.

[2015-08-10 15:40] #57 closed

[2015-08-31 17:30] pixelzoom opened #58 "upgrade lodash"
lodash doc indicates that some functions have been renamed. Eg contains -> includes. Rather than continuing to use the old functions, we should probably upgrade.  As of this writing, lodash latest is 3.10.1, PhET is using 2.4.1.

Various useful links:

[2015-10-19 15:34] samreid opened #59 "Recreate third-party-licenses.md"
See https://github.com/phetsims/molarity/issues/25#issuecomment-149233427

[2015-10-21 16:22] aaronsamuel137 opened #60 "report-third-party and hookes-law published"
I just published hookes-law, and saw the following instructions in https://github.com/phetsims/phet-info/blob/master/sim_deployment.md:

Brace yourself-- this will take >30 minutes since you will need to build all of the simulations in order to access their 3rd party encumbrances. After running this, the updated third-party-licenses.md file should be checked in to GitHub, which will make it public

[2015-10-21 20:58] samreid commented on #59
This will be handled in #60, closing.

[2015-10-21 20:58] #59 closed

[2015-10-26 22:35] samreid commented on #60
Finished above, quick summary of what I did:

[code]
Paste over third-party-licenses.md and commit.

[2015-10-26 22:35] #60 closed

[2015-10-29 21:28] pixelzoom commented on #56
Pinging @jonathanolson for review.

[2015-10-29 21:32] pixelzoom commented on #6
Still a licensing issue. Easel is used in scenery and masses-and-springs, but not referenced in sherpa/info.json or the 3rd-party license spreadsheet on Google Drive.

[2015-10-30 01:39] jonathanolson commented on #6
I'll plan on removing them shortly.

[2015-11-09 21:07] jonathanolson commented on #6
Removed references and old 'easel-performance-test' from Scenery.

Should we remove references in faraday/masses-and-springs?

[2015-11-09 21:21] samreid commented on #6
I'd like to delete masses-and-springs in https://github.com/phetsims/masses-and-springs/issues/4

What is the faraday reference?

[2015-11-09 21:25] pixelzoom commented on #6
@jonathanolson asked:

I was the author of the faraday 'experiment', and I'm surprised to find that it still runs. If/when we port faraday from Java, we'll likely wipe most of this repo. But there may be some stuff that can be salvaged (model, e-field,...)  It's not in active-repos, and isn't something that PhET plans to publish.  So if PhET is ok with the license implications, it may be best to l

[2015-11-09 21:40] samreid commented on #6
Masses and springs has been deleted, @jessegreenberg @jbphet @pixelzoom @jonathanolson @aaronsamuel137 please remove your working copy and pull chipper to get the new list of active-repos.

[2015-11-09 21:42] samreid commented on #6
All other easel & jquerymobile references are in docs or comments, closing.

[2015-11-09 21:46] pixelzoom commented on #6
Have we verified that PhET is OK with leaving faraday as is?

[2015-11-09 21:47] pixelzoom commented on #6
In https://github.com/phetsims/sherpa/issues/6#issuecomment-155201340, I wrote:

Have we verified that PhET is OK with leaving faraday as is?

[2015-11-09 21:58] samreid commented on #6
Ah I see, I wasn't aware of https://github.com/phetsims/faraday (different than faradays-law) and its usages of Easel.  Thanks for helping me understand.  I'm not entirely sure if we should delete it.  It is technically redistributing easel and other libs without a statement.  But on the other hand, the sim is not destined for production so its risk is probably very low.  Some options:

1. Leave i

[2015-11-12 09:04] jonathanolson commented on #56
Instructions still seem out of date. Built all sims, copied HTMLs to git/tmp, then:
[code]
There's also a required 'output' attribute (do I have to point that to the third party report?), and I don't see --copy-from-build. Maybe that's --activeRunnables now?

If it's going to be this complicated every time I make a sherpa change, can we create a chipper/bin/generate-third-party-report.sh that does

[2015-11-13 20:08] samreid commented on #56
The instructions were stale and confusing.  I revised them in the above commit and tested them.  Can you take a look @jonathanolson ?

[2015-12-18 19:51] samreid opened #61 "Update 3rd party licenses"
From Skype

[12/18/15, 12:18:52 PM] John Blanco: Sam: One of the items listed for the production deployment process is updating the list of 3rd party licenses.  I was just running into a couple of issues with this, but I'm wondering if it's really necessary because 1. Arithmetic doesn't use anything new and 2. you're probably doing to do it shortly for Bending Light anyway.  In your opinion, shoul

[2015-12-18 19:51] samreid commented on #61
One reason to update is to get the version numbers right (for new deploy of Arithmetic)

[2016-01-13 00:42] samreid opened #62 "Update seedrandom"
Seed random is in 2.4.2 and we are at 2.2.  The latest version is MIT instead of BSD, which seems nice (matches the license of most of our other dependencies).

I'm thinking of updating this now while working on reproducible seeds for PhET-iO.

[2016-01-13 01:10] samreid commented on #62
It looks like this is only used in plinko probability.  I updated everything and tested, all seems well, closing.

[2016-01-13 01:10] #62 closed

[2016-01-16 18:11] samreid commented on #61
Updated and pushed to https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

[2016-01-16 18:11] #61 closed

[2016-02-06 02:54] samreid opened #63 "Remove JSHint"
We are no longer using JSHint and it can be removed.

[2016-02-06 02:56] samreid commented on #63
I've removed JSHint and many references to it.  I left several JSHint references that seemed like they were indicating a suboptimal implementation in order to satisfy JSHint, many occurrences in Kite and Scenery.  @jonathanolson can you take a look and see if any code changes should be made?

[2016-02-27 02:30] ariel-phet commented on #6
@samreid what is the status of this issue? why do we have the /faraday repo at all?

[2016-02-27 02:31] ariel-phet commented on #6
please mark for developer meeting if necessary

[2016-02-28 02:55] samreid commented on #6
@pixelzoom do any of the options in https://github.com/phetsims/sherpa/issues/6#issuecomment-155211800 strike your fancy?

[2016-02-29 17:58] pixelzoom commented on #6
@ariel-phet asked:

This was an early port of portions of Faraday's Electromagnetic Lab.  Looking at what's currently there, there's a significant amount of code that would be straightforward to move from Easel to Scenery.  So this could serve as a nice start on this sim, when PhET decides to port it.  The downside is that there are a bunch of 3rd-party libraries in faraday/contrib/ (jquery, easel

[2016-02-29 18:00] pixelzoom commented on #6
Btw... Note that Easel no longer exists in sherpa, so wrt this issue, sherpa is clean.

[2016-02-29 20:07] ariel-phet commented on #6
I made faraday a private repo. Since we are not sharing with anyone or publishing, I am unconcerned about the licensing issues in faraday and we can address when we port (and make the repo not private again) closing this issue and referencing in https://github.com/phetsims/faraday/issues/1

[2016-02-29 20:07] #6 closed

[2016-02-29 20:10] samreid commented on #6
Clever plan, nice work, +1

[2016-02-29 20:10] pixelzoom commented on #6
Excellent solution.

[2016-03-03 17:55] jonathanolson commented on #63
Didn't see any jshint references in Scenery/Kite. I'll tackle anything related as I notice.

[2016-03-03 17:55] #63 closed

[2016-03-31 14:13] jonathanolson commented on #56
Instructions look good, applied minor formatting fix for list.

[2016-03-31 14:13] #56 closed

[2016-07-13 15:31] pixelzoom commented on #58
A Google search of "lodash backward compatibility" recommends looking at the changelog, https://github.com/lodash/lodash/wiki/Changelog.   The most obvious breaking changes can be identified by searching for "rename".  I'm sure there are others.

[2016-07-13 15:33] pixelzoom commented on #58
The lastest version of lodash is 4.13.1, were's using 2.4.1.

[2016-07-13 17:44] samreid commented on #58
@pixelzoom said it might make sense to add StringUtils.endsWith

[2016-07-13 17:46] pixelzoom commented on #58
... using the implementation from this polyfill: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith

[2016-07-13 19:41] pixelzoom opened #64 "revise how third-party-licenses.md is generated"
This was encountered on 7/13/16 while publishing Function Builder 1.0.0, and discussed a bit on Skype.

The current version of the report is viewable at:
https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

According to [Sim Deployment Guidelines](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md), this file is supposed to be updated every time

[2016-07-13 20:07] pixelzoom commented on #64
This report also feels like it needs a title.

[2016-07-14 01:24] samreid commented on #58
In the above commit, StringUtils obtained endsWith from MDN polyfill as well as unit tests to cover it's basic usage.

[2016-07-14 01:24] samreid commented on #58
I'm not opposed to updating lodash but I think StringUtils is a better place for endsWith, and I like using the MDN implementation.

[2016-07-14 18:07] mattpen commented on #58
The lodash-migrate package may be useful https://www.npmjs.com/package/lodash-migrate

[2016-07-14 18:07] pixelzoom commented on #58
7/14/16 dev meeting:  Assigned to me.  First thing I'll do is survey what we're currently using.  Try to use core vs full package.

[2016-07-14 18:44] samreid commented on #64
If we could download the published simulations from the website, then we could use this same script to populate this report.

@pixelzoom and @ariel-phet pointed out we should also populate the "3rd party libraries" column on the sim pages.

[2016-07-14 18:47] samreid commented on #64
I'll take a look at the idea from the preceding comment, then afterwards coordinate with @mattpen to work on adding the 3rd party libraries into the sim pages.

[2016-07-14 18:48] samreid commented on #64
We'll keep the version numbers in the report, since they will reflect the published versions.

[2016-07-14 19:29] samreid commented on #64
I parsed http://phet.colorado.edu/en/simulations/category/html and extracted the published html sim names:

acid-base-solutions
area-builder
arithmetic
balancing-act
balancing-chemical-equations
balloons-and-static-electricity
beers-law-lab
bending-light
build-an-atom
color-vision
concentration
energy-skate-park-basics
faradays-law
forces-and-motion-basics
fraction-matcher
friction
function-builde

[2016-07-14 21:07] samreid commented on #64
I've updated the script, updated the docs and added instructions at the top.  I also regenerated the new license file.  The new script takes about 10 seconds to run and reports on the published versions.  I did *not* take time to iterate through the existing code and refactor/document it, but I did add code comments for the new code.

It is in a good position now for another developer to take it f

[2016-07-15 16:10] mattpen commented on #64
@samreid - To get this data in the database, I think the easiest option would be to modify your script so that it creates a second file in json format with the 3rd party information and sends it to the website in a POST request.  This will make it easier to parse in tomcat.  Is it ok with you if I add that to the script, or should I wait until after CM reviews it?

[2016-07-15 17:40] samreid commented on #64
@mattpen that sounds like a good plan, let's wait until @pixelzoom takes a look before proceeding.

[2016-07-19 15:55] pixelzoom commented on #64
Review comments...

(1) This comment in reportThirdParty.js is a little vague and confusing:

```12   * Third party entries are parsed from HTML, see getLicenseEntry.js```

"HTML" undoubtedly means "the built HTML file for simulations", but someone who is new to this is unlikely to know that.  And getLicenseEntry.js doesn't have anything to do with HTML files, it operates on license.json files.

(

[2016-07-19 16:06] pixelzoom commented on #64
(6)

Usage documentation at the top of reportThirdParty.js is:

[code]

But I'm allowed to run this script from any directory that knows about the task (and it appears to succeed?)  If the task indeed must be run from chipper, then either (a) verify that pwd is chipper at the beginning of the task, (b) automatically cd to chipper at the beginning of the task, or (c) move this task to chipper/Grunt

[2016-07-19 16:19] pixelzoom commented on #64
(7) Use more descriptive var names

Rename `output` to `outputFile` (line 37), since you also have `outputString`.

Rename `json` to `licenseJSON` (line 156).

Something more descriptive than `lines` (line 179).

You have `entries` for 3rd-party code, `mediaOutput` for 3rd-party media. Use more similar var names. Perhaps `codeOutput` to correspond to `mediaOutput`, since you have `codeLicensesUsed

[2016-07-19 16:25] pixelzoom commented on #64
(9) Which fields are required in license.json?

Based on this chunk of code:

[code]

It appears that all of these fields are required to be in license.json, but they may be the empty string.  Is that requirement and the list of fields (and their semantics) documented somewhere?

[2016-07-19 16:29] pixelzoom commented on #64
(10) Wrong semantics for license.json field

[code]

The `text` field in license.json is not a copyright statement. It does (in most cases) contain the copyright info. In other cases it contains the copyright and other info. In some cases it contains just a description.   Do we need an explicit 'copyright' field in license.json?  Or can we just rename this var so that it's not misleading?

[2016-07-19 16:30] pixelzoom commented on #64
(11) Update sherpa/README.md

... which still says:

[code]

[2016-07-19 16:35] pixelzoom commented on #64
Review completed, back to @samreid.

[2016-07-19 18:23] pixelzoom commented on #58
I wrote a script to find and count usages of lodash functions, see chipper/bin/lodashFind.sh.  Here's the current output:

1048 extend
 300 each
 102 random
  58 map
  54 times
  54 contains
  52 indexOf
  32 max
  31 filter
  30 clone
  26 shuffle
  25 sortBy
  25 pull
  24 forEach
  22 keys
  21 reduce
  17 some
  14 find
  13 min
  12 range
  10 every
   9 uniq
   8 without
   8 pick
   8 omit

[2016-07-19 18:34] pixelzoom commented on #58
According to https://github.com/lodash/lodash/wiki/build-differences, the core build is designed to be Backbone ≥ v1.3.0 compatible, and contains only 64 methods (sic).   Two of PhET's top 3 (extend, random) are not included, so we're not going to be able to use the core build.

[2016-07-19 18:54] pixelzoom commented on #58
There is a significant size difference between core and full builds. https://lodash.com says:

Full build (~22 kB gzipped)

The version that PhET is currently using (sherpa/lib/lodash-2.4.1.js) is reportedly a custom build.  But it is 28kB minified, which is larger than the full build.  So I'm wondering if it really is a custom build.

Custom build commands and options are described at https://lod

[2016-07-19 18:58] pixelzoom commented on #58
Disadvantages of using a custom build:

(1) If you want to use a lodash function that you haven't used previously, consulting the lodash documentation is insufficient. You will also need to consult the source in sherpa/lib/ before using a function, to see if it was included in the custom build.

(2) If a function that you want to use is not included in the custom build, you'll need to create a new

[2016-07-19 19:06] pixelzoom commented on #58
I downloaded the various versions that are available from https://www.jsdelivr.com/projects/lodash, and here's what I see:

-rw-rw-r--@ 1 cmalley  staff   12055 May 23 13:35 lodash.core.min.js
-rw-rw-r--@ 1 cmalley  staff   25123 May 23 13:35 lodash.fp.js
-rw-rw-r--@ 1 cmalley  staff    9608 May 23 13:35 lodash.fp.min.js
-rw-rw-r--@ 1 cmalley  staff  515628 May 23 13:35 lodash.js
-rw-rw-r--@ 1 cma

[2016-07-21 17:36] pixelzoom commented on #58
7/21/16 dev meeting: Consensus is to use full build.

[2016-07-22 01:36] samreid commented on #58
Apparently _.extend is deprecated in the new lodash.  It has been renamed to `_.assignIn`

![image](https://cloud.githubusercontent.com/assets/679486/17044121/42440914-4f7a-11e6-8377-3301cd055e04.png)

it also looks like `_.assign()` may be appropriate for our use cases.

I'll create a separate issue for this.

[2016-07-22 01:37] samreid opened #65 "_.extend has been renamed"
From #58:

Apparently `_.extend` is deprecated in the new lodash.  It has been renamed to `_.assignIn`

![image](https://cloud.githubusercontent.com/assets/679486/17044121/42440914-4f7a-11e6-8377-3301cd055e04.png)

it also looks like `_.assign()` may be appropriate for our use cases.

Flagging for developer meeting, but hopefully we can discuss/decide before then.

[2016-07-25 00:13] samreid commented on #64
I addressed (1) - (3) in the above commits.  For (4), I added handling for the error case where the HTML files cannot be downloaded, will commit below.  And I'll create a separate issue for more general error handling.

[2016-07-25 00:15] samreid opened #66 "Improve error handling and robustness in reportThirdParty.js"
In https://github.com/phetsims/sherpa/issues/64#issuecomment-233678870 @pixelzoom said:

(4) Lack of verification and error handling

This task doesn't contain a single assertion or error message, doesn't look very robust.  For example, shouldn't this `if` statement have an else clause that handles a missing HTML file?

[code]

[2016-07-25 00:16] samreid commented on #66
In https://github.com/phetsims/sherpa/issues/64#issuecomment-234812351 I replied [...] For (4), I added handling for the error case where the HTML files cannot be downloaded, will commit below.

[2016-07-25 00:22] samreid commented on #64
Addressed (5) above, files are cleaned up afterwards and before (the latter in case of interruption).

[2016-07-25 00:23] samreid commented on #64
Addressed (6) above.

[2016-07-25 02:32] samreid commented on #64
I switched to more described var names in the preceding commit.

[2016-07-25 02:46] samreid commented on #64
To address the second (7), I added an assertion that the license exists in the preceding commit and removed the substitution of (no license).

[2016-07-25 02:50] samreid commented on #64
For (8) I wrote up docs to explain the media license exceptions.

[2016-07-25 02:53] samreid commented on #64
For (9) @pixelzoom said:

He continued in the next comment:

Yes, indeed getLicenseEntry.js indicates the fields and which are optional.

It would be nicer to check earlier on that the contents are not the empty string, Ill create a separate issue for that.

[2016-07-25 02:59] samreid commented on #64
In the preceding commits, I renamed var copyrightStatement and updated the sherpa README.md.

I've addressed all of @pixelzoom's feedback or moved them to new issues.  @mattpen you are clear to proceed to move this data to the database as you discussed in https://github.com/phetsims/sherpa/issues/64#issuecomment-232995908

I'll create a separate issue for that.

@pixelzoom please review my changes

[2016-07-25 03:01] samreid opened #67 "Report 3rd party libraries (and media?) for HTML simulations on the website"
In https://github.com/phetsims/sherpa/issues/64#issuecomment-232995908 @mattpen said:

@samreid - To get this data in the database, I think the easiest option would be to modify your script so that it creates a second file in json format with the 3rd party information and sends it to the website in a POST request. This will make it easier to parse in tomcat. Is it ok with you if I add that to the

[2016-07-26 14:53] pixelzoom commented on #58
Looking more closely at the [lodash changelog]()... For major releases, they have sections titled "Compatibility Warnings" and "Low Risk Compatibility Warnings".

PhET is currently using v2.4.1, so these compatibility warnings for v3.0.0 and v.4.0.0 are relevant:

v3.0.0: https://github.com/lodash/lodash/wiki/Changelog#v300
v4.0.0: https://github.com/lodash/lodash/wiki/Changelog#jan-12-2016--diff-

[2016-07-26 14:58] pixelzoom commented on #58
In the middle of the upgrade to 4.13.1, I discovered that 4.14.1 was released 2 days ago.  The [CDN](https://www.jsdelivr.com/projects/lodash) does not currently have built versions available, and I think that it makes sense to wait.

[2016-07-26 15:01] pixelzoom commented on #58
In the middle of the upgrade to 4.13.1, I discovered that 4.14.0 was released 2 days ago.  The [CDN](https://www.jsdelivr.com/projects/lodash) does not currently have built versions available, and I think that it makes sense to wait.  Especially since the release notes say:

... and @samreid's desire to use `_.endsWith` (https://github.com/phetsims/sherpa/issues/58#issuecomment-232391230) was what

[2016-07-26 16:12] samreid commented on #58
True, but we now have StringUtils.endsWith with the MDN implementation.

[2016-07-26 20:32] pixelzoom commented on #64
Issue (4) in https://github.com/phetsims/sherpa/issues/64#issuecomment-233678870 does not appear to have been addressed. If an HTML file cannot be loaded, the task silently continues.

I realize that you are now verifying the download, i.e.:

[code]

... but if you're checking for an error with:

[code]

... then there should be an `else` clause that handles the case where the if expression fails.

[2016-07-26 20:46] samreid commented on #64
In the preceding commit, I added this documentation:

[code]

Should we go the extra mile and start manually maintaining lists of published sims, so that this logic wouldn't be necessary?  Or perhaps there is some website api query we can make to discover the list of published HTML5 sims?

[2016-07-26 20:51] pixelzoom commented on #64
Great, very important documentation, now I understand what's going on here.

I don't think we need to do the "extra mile" here, especially since the functionality of this task is being moved server-side, where (presumably) there's more knowledge about which sims are actually published.

All issues addressed. Closing.

[2016-07-28 17:18] pixelzoom commented on #65
As of 4.14.0, _.extend is still provided as an alias.

[2016-07-28 17:19] pixelzoom commented on #65
What *has* changed is that `_.extend` is now an alias of `_.assignIn` instead of `_.assign`.

[2016-07-28 17:25] samreid commented on #65
We may also want to use `_.assign`, can someone volunteer to try it out and see what breaks?

[2016-07-28 17:27] samreid commented on #65
@andrewadare volunteered to try out _.assign, but we should wait until we have the new version of lodash checked in to sherpa.

[2016-07-28 17:29] samreid commented on #65
@pixelzoom will submit an issue to lodash asking about CDN copies of the new version.

[2016-07-28 18:20] pixelzoom commented on #58
I asked about availability of 4.14.0 on the CDN in https://github.com/lodash/lodash/issues/2544, and was told that it's "already there".  It still doesn't show up on the CDN link provided on the lodash project page, but my question did get me direct links.   Here are the direct links to the deliverables that PhET needs:

https://cdn.jsdelivr.net/lodash/4.14.0/lodash.js
https://cdn.jsdelivr.net/lod

[2016-07-29 06:14] mattpen commented on #67
@samreid - I'm having some trouble running the script.  On my machine, the strings that result from `activeSimsString.split( '\n' );` appear to end in a carriage return.   I had to change [this line](https://github.com/phetsims/chipper/blob/master/js/grunt/reportThirdParty.js#L330) to the following in order to get the script to work.

`var url = 'http://192.168.56.102/sims/html/' + sim.substring(

[2016-07-29 15:40] pixelzoom commented on #67
@mattpen See https://help.github.com/articles/dealing-with-line-endings/

I see that you also changed `phet.colorado.edu` to `192.168.56.102`. You didn't mention why, so I'm assuming that it's unrelated.

[2016-07-29 17:45] mattpen commented on #67
@pixelzoom - Thanks.  192.168.56.102 is my local version of the website.  That won't be checked into github.

[2016-07-30 17:34] mattpen commented on #67
The current reportThirdParty.js script will fail on the new server (phet-new).  The downloaded files are not following the redirect to https, and grunt is preventing https protocol from being used.

This is the result for the file download if I point it at `http://phet-new...`:
[code]

If I change the requested url to start with `https://phet-new...`, I get the following errors, and the downloaded

[2016-07-30 18:11] pixelzoom commented on #67
Do the html files live on the server where the task is being run? If so, then you could read the files via their local pathnames, instead of via http.  (Or does this task need to be still be runnable on development machines?)

[2016-07-30 18:23] mattpen commented on #67
@pixelzoom - It works if I use the [https module ](https://nodejs.org/api/https.html) instead of `http`.  Do you see any reason not to use https?

i.e.
[code]

[2016-07-30 18:31] pixelzoom commented on #67
I know of any reason not to use https.  But then again, I'm not totally clear on the requirements.  Is this task going to actually run on the server, or is it (as was originally proposed) just the same task that generates an additional file, and we'll continue to run it from development machines?

[2016-07-30 18:36] mattpen commented on #67
This task will still run as originally proposed, on development machines. It doesn't actually generate an additional file, but calls creates a json object with the necessary data for the website and sends in in a POST request via an API I created.  The https module should work with the old servers as well (figaro and simian).

[2016-07-30 18:41] pixelzoom commented on #67
Sounds good, thanks for the clarification.

[2016-07-30 20:19] mattpen commented on #67
@pixelzoom @samreid - I've uploaded the script with changes so that it pushes the 3rd party licenses to the website.  The website on figaro currently does not have the API deployed, and since we are only 10 days away from the switch I will probably not deploy it before then.  I've tested the script on my local version of the website and it worked successfully, I'll test it on phet.colorado.edu aft

[2016-07-30 21:34] pixelzoom commented on #67
I'm out until 8/4, can review it then unless @samreid gets to it sooner.

[2016-07-31 20:56] samreid commented on #65
@pixelzoom reported that the new CDN copies were available, just not linked.

[2016-07-31 21:17] samreid commented on #67
@mattpen is this line to drop the trailing comma?  It should be explained in a code comment:

[code]

It may make things simpler to accumulate an array of data objects, then create the report string like this:
[code]

It currently feels a bit confusing to have the opening `'{'` and closing `'}'` dislocated.

Why did you add force: true to the delete?  Please document in a code comment:

[code]

[2016-07-31 21:33] samreid commented on #67
I finished reviewing @mattpen's changes.  After @mattpen addresses the review suggestions, it would be good for @pixelzoom to take another look.

[2016-08-01 18:20] mattpen commented on #67
@samreid - I made the changes you suggested above.  I removed the `{force:true}` entirely from the grunt.file.delete command.  It was not necessary.

[2016-08-04 16:48] pixelzoom commented on #58
4.14.1 has been released and is available via the CDN, https://www.jsdelivr.com/projects/lodash

[2016-08-05 17:43] pixelzoom commented on #67
Results of running this task on my local machine:

[code]

What is "websiteAuthorizationCode"? If it's required:

(1) Document it in the "usage" documentation.
(2) Check it *before* downloading html files.
(3) Fail if it's not present.

[2016-08-08 16:56] mattpen commented on #67
The websiteAuthorizationCode is an authorization key for writing the post request.  It can be found under `"local-auth-code"` in `phet-server:/etc/tomcat/context.xml`.  I added an assertion for its presence at the beginning of the script.

I'll check that the script completes correctly on Wednesday after the server switchover.

[2016-08-10 19:51] pixelzoom commented on #58
Deferring this until after my vacation.

[2016-08-10 20:02] pixelzoom commented on #65
It looks like `_.assign` might be sufficient for PhET's needs. `.assignIn` adds some bells and whistles related to inherited properties, which are unnecessary for the pattern that we've been using for specifying default values for `options`.

[2016-08-10 20:04] pixelzoom commented on #65
I'm also fine with continuing to use `_.extends`, since it's a supported alias (and unlikely to go away?)

[2016-08-10 22:20] samreid commented on #65
My guess is that if we pick up any inherited properties, they are probably unintentional (and possibly buggy).  Also `assign` may have (slightly?) higher performance since it isn't looking for inherited properties.

[2016-08-16 16:47] jonathanolson commented on #65
We could potentially use PHET_CORE/extend, as I created it to basically be Underscore's extend, BUT with proper handling for ES5 getters (it copies the ES5 getter function, instead of Underscore's extend, which evaluated the getter and copied the value).

[2016-08-16 17:11] samreid commented on #65
Are there cases where we are relying on extending with es5 getters?  I'm wondering if it falls into the same case as unintentional and possibly buggy (as I surmised for extending inherited properties).

[2016-08-19 00:25] pixelzoom commented on #65
I'm not excited about having to add a require statement to almost every source file:

```var extend = require( 'PHET_CORE/extend' )```

[2016-08-19 00:54] samreid commented on #65
Brainstorming here: if we decide we like PHET_CORE/extend but dislike adding that require statement to every file we could add this code in initializeGlobals:

[code]

Then instead of `_.extend` we would use `phet.extend`.

That being said, my vote is still for `_.assign`.

[2016-08-19 03:28] samreid commented on #58
How did you conclude that lodash.core dosen't contain `extend`?  If I click on lodash core build from their homepage, it shows me this file:
https://raw.githubusercontent.com/lodash/lodash/4.15.0/dist/lodash.core.js

which includes the line:
[code]

Hence it looks like lodash.core contains extend.  I also tested in the browser and confirmed that _.extend exists in the core.

We will no longer be u

[2016-08-19 16:08] pixelzoom commented on #58
Based on the documentation at https://github.com/lodash/lodash/wiki/build-differences.

Regardless, I believe we concluded that requiring PhET developers to stick to a subset of lodash was undesirable.

[2016-08-19 16:09] pixelzoom commented on #58
@samreid asked:

Based on the documentation at https://github.com/lodash/lodash/wiki/build-differences.

Regardless, we concluded (after much discussion) that requiring PhET developers to stick to a subset of lodash was undesirable.

[2016-08-19 16:20] pixelzoom commented on #58
@samreid Are you proposing that we revisit the issue of whether to use core vs full build? Or should I proceed with updating to a full build?

[2016-08-19 16:21] pixelzoom commented on #58
@samreid said:

Or perhaps you're proposing that we ditch lodash altogether and implement the functions that we need?

[2016-08-19 16:40] samreid commented on #58
The documentation indicates that lodash.core has `_.assignIn`, which is the alias for `_.extend`

We may have come to the wrong conclusion based in part on incorrect assumptions.

Our decision was based in part on the assumption that lodash.core was missing _.extend, which is incorrect.  Choosing lodash.min (71KB) over lodash-core.min (12KB) means choosing 59KB of bloat for every file op: building

[2016-08-19 16:47] pixelzoom commented on #58
@samreid said:

Yes, in part.  But we also said that expecting developers to know which functions are included in core was unreasonable. And the minute that someone wanted something that's not in core (e.g. `endsWith`, which started this process), then we'd be regretting the decision to save a few kilobytes.

I will put this issue on hold, and label for (re)discussion at developer meeting.

[2016-08-19 19:04] jonathanolson commented on #65
We shouldn't be using _.extend with ES5 getters right now, but I haven't checked.

Sounds like an argument for making it a global instead if it needs to have broad usage. Is it worth revisiting things like PHET_CORE/inherit to see if we should have globals for that?

[2016-08-19 19:25] samreid commented on #65
Yes, good point.  It seems odd to have a different pattern for doing inherit vs extend.  I'll create a PHET_CORE issue for discussion about inherit.  Not sure if other phet methods should be global.

[2016-08-25 18:52] samreid commented on #58
Consensus: let's continue with full for now.

[2016-09-07 17:21] pixelzoom commented on #58
@ariel-phet Based on current priorities, I'm unlikely to get to this anytime soon.  If you want to leave it assigned to me, that's fine. If you want it done sometime in the next 2-3 months, you should probably assign it to someone else.

[2016-09-07 18:27] ariel-phet commented on #58
Marking for dev meeting, I want to get a sense for the team's feeling of the priority of this upgrade (but likely will have someone take it over from @pixelzoom)

[2016-09-08 17:56] samreid commented on #58
@jbphet will put it on his calendar to remind us in a month or so.

[2016-09-08 18:00] samreid opened #68 "Should we get rid of min files?"
We need the full version of many things for debugging, and our build process minifies them.  We need to keep some minified things for scenery docs, but perhaps other can be deleted.

[2016-09-09 18:21] samreid opened #69 "toastr should be versioned"
toastr was added with this filename: toastr.min.js

It should be renamed to include the version number in the filename.

[2016-09-09 18:23] samreid commented on #69
Please also update chipper/js/grunt/buildPhETIO.js when making this change.

[2016-09-15 16:32] mattpen commented on #69
@samreid - I decided not to use this library after all and use jQueryUI instead. I'll remove it from sherpa, sherpa/lib/license.json and chipper/js/grunt/buildPhETIO.js.  Does it need to be removed from anywhere else?

[2016-09-15 16:57] samreid commented on #69
Yes, .eslintrc has a toastr entry that should be removed.  Also I'd recommend searching all source for the string `toastr` just in case.

[2016-09-27 16:25] andrewadare commented on #65
I have been assigned to test _.assign, but this is blocked by #58. Un-assigning myself for now; please re-assign me if/when _.assign should be tested in a new lodash library version.

[2016-09-27 16:30] samreid commented on #58
Oops, accidentally closed, reopening.

[2016-09-27 16:50] samreid commented on #58
@andrewadare said:

[2016-09-29 19:26] mattpen commented on #67
@pixelzoom ran the script today and it failed due to missing characters in the json that was sent to the website.  I'll take a look at this tomorrow.

[2016-09-29 19:32] pixelzoom commented on #67
Also worth noting: plinks-probability was missing from the report, and the client-side script (`grunt report-third-party`) indicated success.

[2016-09-30 04:51] mattpen commented on #69
toastr has been removed from all repos.

[2016-09-30 04:51] #69 closed

[2016-10-01 05:58] mattpen commented on #67
The script is working again for ox-dev.  For example: https://ox-dev.colorado.edu/en/simulation/acid-base-solutions.  Plinko is still failing because it has not been copied over to ox-dev yet.  Running the script on phet.colorado.edu will need to wait on a deploy, which will probably happen on 10/2 or 10/3.

[2016-10-04 18:11] mattpen commented on #67
Redeploy has been delayed due to delay in app publication.

[2016-10-10 16:29] jbphet commented on #58
My reminder went off to mark this for developer meeting.

[2016-10-13 17:47] mattpen commented on #58
Deferring discussion till next week.

[2016-10-22 03:18] mattpen commented on #67
The script should now successfully update the website with the latest libraries.  I tested tonight and the libraries are present.  Closing.

[2016-10-22 03:18] #67 closed

[2016-10-27 18:28] jessegreenberg commented on #58
10/27/16 - We will revisit this issue in mid-december, @jbphet will create a reminder for us to revisit.

[2016-11-15 17:26] pixelzoom opened #70 "convert game-up-camera to QueryStringMachine"
Related to https://github.com/phetsims/chipper/issues/516.

[11/15/16, 10:22:12 AM] Sam Reid: Ah, I must have missed it by excluding that directory from my IDE
[11/15/16, 10:22:16 AM] Chris Malley: guess I have to include sherpa in my search path and root around in there.
[11/15/16, 10:23:38 AM] Chris Malley: it uses 2 (undocumented) query parameters: gameUpLogging, gameUp
[11/15/16, 10:23:45 AM]

[2016-11-15 17:29] pixelzoom commented on #70
Converted., but no idea how to test this. Assigned to @samreid.

[2016-11-19 04:56] samreid commented on #70
I tested with &gameUpLogging&screens=3&gameUp and saw this in the console:

[code]

That means it is working.

[2016-11-19 04:56] #70 closed

[2016-12-14 16:09] jbphet commented on #58
My reminder went off, and I've labeled this for discussion at developer meeting.

[2016-12-15 19:16] jbphet commented on #58
Discussed in the 12/15/2016 dev meeting, we're hitting the snooze button on this until early Feb.

[2017-02-03 18:42] samreid commented on #58
Welcome to early February!  In developing CCK, I could use lodash _.minBy() but it looks like it was introduced in 4.0.0.  It seems we are still using 2.4.1.

[2017-02-03 18:46] pixelzoom commented on #58
@samreid said:

Example?

[2017-02-03 18:48] samreid commented on #58
ElectronPropagator.js could read:

[code]

[2017-02-03 20:00] samreid commented on #58
I'm going to look into a lodash upgrade now.

[2017-02-03 20:26] samreid commented on #58
I'm running into https://github.com/mgonto/restangular/issues/1298

[2017-02-03 20:27] jonathanolson commented on #58
We could switch to _.includes?

[2017-02-03 20:29] samreid commented on #58
Agreed, I'm testing that out in my working copy.

[2017-02-03 20:35] samreid commented on #58
Initial signs are promising:

![image](https://cloud.githubusercontent.com/assets/679486/22607561/a0bfcc18-ea15-11e6-98a6-c4b31aa40d82.png)

I'll run a full aqua.

[2017-02-03 20:51] samreid commented on #58
_.contains, _.any and _.unique are all missing.

[2017-02-03 21:09] samreid commented on #58
Testing complete, let's see what we have:

![image](https://cloud.githubusercontent.com/assets/679486/22608404/edb6c0fe-ea19-11e6-8e5b-8077a4ce6ca6.png)
![image](https://cloud.githubusercontent.com/assets/679486/22608410/f6432226-ea19-11e6-8d67-22693c96fdf5.png)

Here's a URL with the fails:
http://localhost/aqua/test-server/test-sims.html?ea&audioVolume=0&testDuration=10000&testConcurrentBuilds=4

[2017-02-03 21:11] samreid commented on #58
4.0.0 removed these aliases:

https://github.com/lodash/lodash/wiki/Roadmap

_.all, _.any, _.backflow, _.callback, _.collect, _.compose, _.contains, _.detect, _.foldl, _.foldr, _.include, _.inject, _.methods, _.object, _#run, _.select, & _.unique

[2017-02-03 21:12] samreid commented on #58
This doc shows what to use instead:

https://github.com/lodash/lodash/wiki/Changelog

[2017-02-03 21:18] samreid commented on #58
Replacing with aliases got a few more to pass:

![image](https://cloud.githubusercontent.com/assets/679486/22608804/b3c2e6fa-ea1b-11e6-84cd-12e3a8e972f3.png)

[2017-02-03 21:24] samreid commented on #58
I am down to these 4 errors:

![image](https://cloud.githubusercontent.com/assets/679486/22608959/47eb1b68-ea1c-11e6-99a4-5d35275d8fb3.png)

molarity
Uncaught Error: Assertion failed: undefined
Error: Assertion failed: undefined
    at window.assertions.assertFunction (http://localhost/assert/js/assert.js:21:13)
    at Array. (http://localhost/molarity/js/molarity/view/PrecipitateNode.js?bust=1486

[2017-02-03 21:51] samreid commented on #58
Also note: this URL has a list of 4.0.0 compatibility warnings:
https://github.com/lodash/lodash/wiki/Changelog

[2017-02-03 21:55] samreid commented on #58
I just saw this note in CLB:

      // Would prefer to use _.minBy, but not available in lodash 2.4.1
      var leftMost = _.first( _.sortBy( this.connections, [ function( connection ) {
        return connection.location.x;
      } ] ) );

[2017-02-03 22:00] samreid commented on #58
Thanks to @pixelzoom for helping me see that min and max are broken.  I replaced all multi-arg max and min with maxBy and minBy.  Now tests are like this:

![image](https://cloud.githubusercontent.com/assets/679486/22610196/85c42ae2-ea21-11e6-9517-65dfd3230c70.png)

[2017-02-03 22:04] samreid commented on #58
_.times no longer takes 3rd argument

[2017-02-03 22:08] samreid commented on #58
Neuron is good after fixing _.times

[2017-02-03 22:10] samreid commented on #58
RPAL was failing because maxBy() now returns undefined for an empty array.

[2017-02-03 22:41] samreid commented on #58
Current status:

![image](https://cloud.githubusercontent.com/assets/679486/22611346/30339cd8-ea27-11e6-99fa-a122b25e42cb.png)

[2017-02-03 22:44] samreid commented on #58
A follow-up on the fails didn't seem so bad.

![image](https://cloud.githubusercontent.com/assets/679486/22611420/a12486dc-ea27-11e6-92b0-61f4136c66c2.png)

[2017-02-03 22:45] samreid commented on #58
Automated fuzz tests are passing.  Next steps:

1. commit my working copy changes to master.  This will be a big commit on many repos.
2. alert each developer to keep an eye out for problems related to the lodash upgrade
3. make sure QA thoroughly tests new sims out of master which are using the new lodash.

[2017-02-03 22:47] samreid commented on #58
Scenery unit tests (compiled and requirejs) are also OK.

[2017-02-03 22:48] samreid commented on #58
What to do for perennial?  What lodash does it use?

[2017-02-03 22:50] samreid commented on #58
package.json says perennial is using `3.10.1` so I'm going to leave it alone.

[2017-02-03 22:51] samreid commented on #58
There is no way to be 100% certain that everything is good-to-go here, and it would be too inefficient to create branches for 60 repos.  So I'm going to push what I have an we can continue in master.

[2017-02-03 22:52] pixelzoom commented on #58
perennial should probably not be using lodash.

[2017-02-03 22:53] samreid commented on #58
We'll also need to update third-party-licenses.md.

[2017-02-03 22:53] samreid commented on #58
OK brace yourselves.

[2017-02-03 23:00] samreid commented on #58
I pulled before starting, but now I am merging in these repos:

![image](https://cloud.githubusercontent.com/assets/679486/22611802/ef769d0a-ea29-11e6-996a-c9078459d561.png)

[2017-02-03 23:01] samreid commented on #58
Merges automerged.

[2017-02-03 23:02] samreid commented on #58
[2/3/17, 4:01:55 PM] Sam Reid: When you pull, you will be using new loads.  Be alert for trouble!

[2017-02-03 23:06] samreid commented on #58
I emailed the developer list:

Sam

[2017-02-09 14:40] samreid commented on #58
Everything seems to be going OK with the new lodash, new issues can be opened elsewhere. Closing.

[2017-02-09 14:40] #58 closed

[2017-04-21 16:48] samreid opened #71 "branch: legends-of-learning"
to support https://github.com/phetsims/special-ops/issues/70

[2017-07-24 17:33] samreid opened #72 "Why is this repo MIT when it is all contributed code?"
https://github.com/phetsims/tasks/issues/875

[2017-07-24 17:40] samreid commented on #72
Scheduled for developer meeting to decide how to license this repo

[2017-07-26 20:30] pixelzoom commented on #72
Licensing is outside of my area.

[2017-07-27 17:45] jonathanolson commented on #72
Presumably each item is licensed individually, and the concept of "license for the repo" may not make sense?

[2017-07-27 19:12] jbphet commented on #72
+1 for the suggestion that having a license doesn't make sense in this case.

[2017-07-27 19:25] samreid commented on #72
See the license.json file

[2017-08-01 12:19] samreid commented on #72
Updated, new version is here, closing:

https://github.com/phetsims/sherpa/blob/master/LICENSE.md

[2017-08-01 12:19] #72 closed

[2018-02-07 23:58] pixelzoom opened #73 "missing license?"
This repository is flagged by `print-all-licenses.sh` as `sherpa | missing license`.   Is it missing something from its LICENSE.md? Should it be excluded from `print-all-licenses.sh`?  Should we just live with it and learn to ignore it?

[2018-02-08 00:02] pixelzoom commented on #73
The problem was that the file was named LICENSE.md, and `print-all-licenses.sh` is expecting LICENSE.  Rename the file and all is well.  Closing.

[2018-02-08 00:03] #73 closed

[2018-08-27 21:13] samreid opened #74 "Remove older json-diff-patches"
We upgraded to a new jsondiffpatch for phet-io API diff tool.  We should move forward usages of the old versions, and delete the old version.

[2018-09-09 02:10] samreid commented on #74
I messaged slack:

I updated jsondiffpatch 0.1.31 usages to v0.3.11, and tested with phetioEmitDeltas=true and it appears to be working nicely.  I tested aqua to see if anything was disturbed and it seemed to check out.  Pushing shortly.

[2018-09-09 13:54] samreid commented on #74
Bayes CT is showing a lot of `Error: Unable to read "../sherpa/licenses/jsondiffpatch-v0.3.11.umd.js.txt" file (Error code: ENOENT).`, I'll look into it.

[2018-09-09 14:03] samreid commented on #74
Proposed fix tested locally and pushed.  Closing again--will reopen if Bayes CT finds other problems.

[2018-09-09 14:03] #74 closed

[2019-01-14 23:31] twant opened #75 "What syntax highlighter should we use?"
@twant @jessegreenberg and @zepumph think It would be nice to use the same syntax highlighter for any displayed code. We've added Prism to sherpa as an option for this.

@zepumph think Prism might fix this issue: https://github.com/phetsims/phet-io-wrappers/issues/203

[2019-05-13 20:38] samreid opened #76 "Update requirejs from 2.1.11 to 2.3.6"
This issue came out of the developer team "patterns" meeting on modules.

In https://github.com/phetsims/sherpa/issues/10 we moved from requirejs 2.1.10 to 2.1.11.  Since then 18 requirejs releases have been published and the latest version is 2.3.6.  The change logs are here: https://requirejs.org/docs/download.html#releasenotes and indicate bugfixes, updates and a performance improvement.  One o

[2019-05-14 20:38] ariel-phet commented on #76
seems worthy of investigation since we are far behind, @chrisklus said he would be willing to investigate.

[2019-05-14 22:20] chrisklus commented on #76
Update complete. I haven't run into trouble so far.

Steps taken:
* downloaded `require-2.3.6.js` from https://requirejs.org/docs/download.html to sherpa
* replaced
[code]
  with
[code]
  in `chipper/templates/sim-development.html`
* did a project-wide find and replace of `require-2.1.11.js` with `require-2.3.6.js`
* verified that all sims start up using phet-brand sim tests in aqua
* verified tha

[2019-05-15 00:55] chrisklus commented on #76
I see two issues on CT that were likely cause by these changes:

in dot:
[code]

in scenery:
[code]

I'll investigate.

[2019-05-15 02:28] chrisklus commented on #76
The new requirejs did not like our argument for urlArgs, so I used the example for cache busting from the requirejs docs, see https://requirejs.org/docs/api.html#config-urlArgs.

This seems to have fixed the problem. @jonathanolson is there anything else we need to do on our end to make this work (since the string changed), or is this all handled in requirejs? It seems to not be happy unless I inc

[2019-05-15 12:47] samreid commented on #76
Kite was showing the same symptom, so I applied the same solution.  @chrisklus please review.

[2019-05-15 17:36] jonathanolson commented on #76
Looks like it's working to me. Thanks!

[2019-05-15 22:02] jbphet commented on #76
I think this may have broken the `sound.js` plugin.  I just saw a console warning about sounds not being supported when working on an unrelated problem in Balancing Act, and I set some breakpoints and found that the URL for the sound looks messed up.  The only thing I can think of that might be related is this upgrade of RequireJS.  @chrisklus - can you see if this is likely the culprit?  I can he

[2019-05-16 04:55] chrisklus commented on #76
@samreid said:

Thanks @samreid, looks good.

@jonathanolson said:

Sounds good, thanks @jonathanolson.

[2019-05-16 07:45] chrisklus commented on #76
@jbphet said:

This is indeed due to the the upgrade of requirejs, and it happens to be related to all of the other problems that have come up from this upgrade. I have a pretty good understanding of what's happening, I just haven't been able to figure out why yet.

At line 63 of `sound.js`, if we're not in built mode, then this else happens, which is supposed to append the cache buster args to th

[2019-05-16 13:33] samreid commented on #76
This patch seems to address the symptoms for me:

[code]

If you agree this is the right way to go, we should investigate more the correct args to pass to the `urlArgs` function, and check around our other plugins to see if they need to adopt this pattern as well.

[2019-05-16 15:46] chrisklus commented on #76
Hey thanks, @samreid - that'll do it. No sure why I was so obsessed with figuring out why this wasn't being evaluated within requirejs like the other usages.

[2019-05-18 00:46] chrisklus commented on #76
I checked out our other plugins that use urlArgs (image, string, mipmap), and they were all also broken.

I committed fixes for the usages I found, @samreid could you review?

[2019-05-18 22:52] samreid commented on #76
I reviewed the code and runtime behavior of all occurrences of `config.urlArgs` and I could not see any problems.  I think this issue can be closed--but we'll want to keep our eyes peeled during the next round of QA testing from master.

[2019-05-18 22:52] samreid commented on #76
On second thought, I'll reassign back to @chrisklus to see if there's anything else for this issue.

[2019-05-20 16:35] chrisklus commented on #76
Thanks @samreid - I'm not seeing anything else suspicious on CT, so I'm ready to close.

[2019-05-20 16:35] #76 closed

[2020-02-06 22:52] zepumph commented on #64
While looking into un-issued TODOs in chipper, I found a todo added from this issue to `reportThirdParty.js`:

[code]

This todo and `if` statement were added by @samreid, so assigning there under a lower priority.

[2020-02-11 19:50] samreid opened #77 "SplitJS source map missing"
@pixelzoom said:

[code]

[2020-02-11 19:50] samreid commented on #77
It looks like Chrome didn’t used to report missing source maps, but now it does report them.
I can add that source map, but maybe we should also update to latest version of splitjs?

[2020-02-11 19:50] samreid commented on #77
@pixelzoom said:

[2020-02-11 19:52] samreid commented on #77
The minified source file has this line:

[code]

which causes it to look for the sourcemap.  We could download the sourcemap from https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.9/split.min.js.map, but it is not versioned or named like the rest of our sherpa assets.  Also, we don't want that file to be included in builds, or referenced in builds.

How about Option 4: Remove this line from our

[2020-02-11 21:02] pixelzoom commented on #77
I have no idea what split.js is, or what it's used for. So I'm probably not the best person to decide what the solution should be.  But in general, modifying a 3rd-party library usually results in increased upgrade cost, or (worse) the problem reappearing after upgrading.

[2020-02-11 21:04] pixelzoom commented on #65
@samreid Since we've replaced `_.extend` with `merge`, can this issue be closed?

[2020-02-11 21:08] pixelzoom commented on #64
The TODOs identified in the previous comment sound like a new issue.   The original problem ("complicated, onerous process for generating this report") was addressed when the responsibility for generating the report was moved to the server.

[2020-02-11 21:16] samreid commented on #77
Split.js is used to control the resize "panes" for studio:  https://split.js.org/

If I add the source map, the warning goes away for requirejs mode, but the warning is still present in built mode.  Which is confusing because I would have expected the build to strip out comments, including the sourcemap directive.

[2020-02-11 21:31] samreid commented on #77
Some other options:

1. Strip out the sourcemap directive during build, in this part

https://github.com/phetsims/chipper/blob/b2efd87f8301f70afea1f5b033a4d936734dce57/js/grunt/phet-io/copySupplementalPhetioFiles.js#L324-L338

2. Include the source build by adding it to contrib.  It is only 38kb.

@zepumph what do you recommend for this issue?

[2020-02-13 17:43] jonathanolson commented on #65
Scenery examples and things use `_.extend` still. So doesn't look safe yet

[2020-02-13 17:47] pixelzoom commented on #65
@jonathanolson The issue is not whether we're still using `_.extend` anywhere.  This issue proposes that we evaluate replacing `_.extends` with `_.assign()`.  Do you plan to do that for scenery examples? It seems unnecessary to me.

[2020-02-13 17:49] jonathanolson commented on #65
If the current way continues to work, I'd like to leave it.

[2020-02-14 16:45] samreid commented on #65
Even though "_.extend" is unlikely to ever be removed from the lodash API, it is preferable to query-replace our usages with "_.assignIn" so that we are using modern, idiomatic lodash.  Additionally I suspect that some or many of these cases should be rewritten to use `merge` instead.  Neither of these is high priority, but they would be a step in the right direction.

[2020-02-14 17:12] pixelzoom commented on #65
OK, sounds like you want to keep this issue open then.  The issue was created in July 2016.  Can we agree to close if it's not addressed by 2024?

[2020-02-14 17:22] samreid commented on #65
Sounds promising!  Maybe we should have a rolling process where when each issue celebrates its 10th birthday, it gets special attention and/or closure. 🍰

[2020-02-18 00:28] zepumph opened #78 "Is "contact phethelp@colorado.edu" a real license?"
Promoting TODO to an issue:

(also see https://github.com/phetsims/sherpa/issues/64#issuecomment-583150392)

While looking into un-issued TODOs in chipper, I found a todo added from this issue to `reportThirdParty.js`:

[code]

This todo and `if` statement were added by @samreid, so assigning there.

[2020-02-18 00:28] zepumph commented on #64
See https://github.com/phetsims/sherpa/issues/78.

[2020-02-18 00:30] zepumph commented on #77
I think we should ignore it, but if you don't like too much, then the best alternative to me is to "Include the source build by adding it to contrib. It is only 38kb."

[2020-05-21 21:57] samreid commented on #64
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-26 18:45] samreid commented on #64
Unassigning until we work on this part again.

[2020-06-11 21:58] samreid commented on #75
Prism sounds promising but I don't think I'll have time to work on that soon.  Self-unassigning for now.

[2020-06-16 21:44] samreid commented on #78
I checked a built file and it did not include leak those files licensing information into the HTML file unnecessarily (other than the asset).  It's unclear where we would want to factor out usage of that license text for usage elsewhere, but we can always factor it out if we find a site later.  I'll remove the TODOs for now.

[2020-06-16 21:45] samreid commented on #78
Removed the TODO, closing.

[2020-06-16 21:45] #78 closed

[2020-07-14 05:12] samreid commented on #65
We are down to 27 occurrences and I can see that all package.json refer to 4.0.0 or higher, so this seems safe to proceed.  However, there are occurrences in Installer Builder and Yotta that I don't know how to test.  So perhaps this should be a chip-away where responsible devs can test their own projects.

[2020-07-14 05:16] samreid commented on #65
I updated some cases that I was capable of testing.

[2020-07-15 02:18] samreid commented on #77
I removed the sourcemap reference in the commit.  If we upgrade to a newer version, the warning will come back and we can decide how to proceed again.  Closing.  For now...

[2020-07-15 02:18] #77 closed

[2020-08-19 00:37] samreid opened #79 "Investigate if some 3rd party libraries can/should be loaded as modules."
From https://github.com/phetsims/chipper/issues/912

Here is the full list of preloads currently in build.json:

[code]

At the moment, this seems like a higher cost than benefit, so I'll leave it unassigned for now.

[2020-10-29 15:32] jessegreenberg opened #80 "numericjs causing error in all_phet_debug builds"
The following errors are showing up in the _all_phet_debug.html builds of energy-skate-park, energy-skate-park-basics, and fluid-pressure-and-flow. I haven't seen the error in any other sims yet.

![image](https://user-images.githubusercontent.com/6396244/97593985-96e2ac00-19d8-11eb-8c30-fce00febb1b9.png)

These are the only three sims that use numeric.js, so I am guessing the issue is related to

[2020-10-29 15:34] jessegreenberg commented on #80
I tested the all_phet_debug builds of ESP and FPAF, and the sims are still working regardless of these error messages.

[2020-10-29 15:46] jessegreenberg commented on #80
This is caused by https://github.com/phetsims/chipper/issues/787, going to move there and close this issue.

[2020-10-29 15:46] #80 closed

[2020-12-08 18:08] jessegreenberg opened #81 "Upgrade Font Awesome"
I needed a new icon from Font Awesome that is not in the version we have. Considering upgrading but there was some uncertainty around licensing. Font Awesome also changed a lot between versions 4 and 5. For instance, the old fontawesome-webfont.svg file has been replaced by a different file called sprites/solid.svg.

We need to make sure that FA 5 licensing allows PhET to use it, and that the chan

[2020-12-08 18:11] jessegreenberg commented on #81
Here is a link to FA licensing: https://fontawesome.com/license/free

In the Font Awesome Free download, the CC BY 4.0 license applies to all icons packaged as .svg and .js files types.

In the Font Awesome Free download, the SIL OFL license applies to all icons packaged as web and desktop font files.

[2020-12-08 18:17] jessegreenberg commented on #81
Here is the 4.7.0 licensing: https://fontawesome.com/v4.7.0/license/

License: SIL OFL 1.1

So the CC BY 4.0 License seems to be new for FA 5.

[2020-12-08 18:24] jessegreenberg commented on #81
Adding developer meeting label to review with team and see if anyone can confirm that CC BY 4.0 is usable by PhET.

[2020-12-08 21:01] samreid commented on #81
CC BY 4.0 requires:

We provide some (but not all of this) in https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md. To my knowledge, none of this is provided in the sim or in the app.

It may be the most cost-effective route for PhET to subscribe to the pro license for font awesome, which is described at  https://fontawesome.com/plans#faq-standard-pro-license

[2020-12-10 01:15] pixelzoom commented on #81
FYI...

SVG for icons can be downloaded from the FA website.  When you press the "Download SVG" button for an icon, e.g. at https://fontawesome.com/icons/500px?style=brands:

<img width="808" alt="screenshot_731" src="https://user-images.githubusercontent.com/3046552/101708329-408e7180-3a4a-11eb-933b-19e521ca619a.png">

... you get this notice:

<img width="644" alt="screenshot_729" src="https://u

[2020-12-10 01:21] pixelzoom commented on #81
FYI...

SVG for icons can be downloaded directly from the FA website, by pressing the "Download SVG" button. E.g. for icon user-cog (the one that @jessegreenberg is interested in):

<img width="589" alt="screenshot_738" src="https://user-images.githubusercontent.com/3046552/101708712-112c3480-3a4b-11eb-96a7-eb8b1487d2a2.png">

Then you'll get a dialog like this:

<img width="667" alt="screenshot_7

[2020-12-10 19:06] zepumph commented on #81
Some other sources for icons, perhaps with easier licensing: https://lineicons.com/blog/font-awesome-alternatives/

[2020-12-10 19:08] pixelzoom commented on #81
12/10/2020 dev meeting:

The question is whether the new FA license (CC-BY) is compatible with PhET.

@samreid recalls that CC-BY was not approved when PhET had a legal review a few years ago. PhET has been using MIT. CC-BY puts restrictions on how we can relicense sims.

@jonathanolson said that PhET licenses its sim as CC-BY.  He's skeptical that FA license will work, because we need to be GPL c

[2020-12-10 19:50] kathy-phet commented on #81
CC-BY is how we license the simulations, and it should be compatible with even our licensed commercial products we offer in terms of PhET-iO. We just need to attribute the image to them, but I will check with my contacts at Creative Commons that doing so in the HTML code will be sufficient. It doesn't have any GPL type of issues.

[2020-12-10 20:27] kathy-phet commented on #81
@samreid - Currently within the HTML sim code file we do have this text in our license section (taken from Build a Molecule):

"font-awesome-4.5.0": {
--
  | "text": [
  | "Created by Dave Gandy"
  | ],
  | "license": "Font Awesome licensed under SIL OFL 1.1 · Code licensed under MIT License · Documentation licensed under CC BY 3.0",
  | "projectURL": "http://fontawesome.io/",
  | "notes": "Provid

[2020-12-11 16:52] samreid commented on #81
Font Awesome 5.0's free license says:

So Font Awesome is CC-BY.  There was a recent article from creative commons, saying that even the more restrictive "CC-BY-SA" is one-way compatible with GPL.  https://creativecommons.org/2015/10/08/cc-by-sa-4-0-now-one-way-compatible-with-gplv3/. So since we would be using the less-restrictive CC-BY, it seems permissible.

@kathy-phet thanks for reminding me

[2020-12-11 17:25] pixelzoom commented on #81
The concern I raised was simply that you can't simply download a new version of FA, or cherry-pick icons (via their web interface) from newer versions of FA because the license has changed. It's up to PhET to decide how to proceed with resolving the licensing issues, or finding other sources for SVG icons.

Advice on licensing issues is not a service that PixelZoom provides, so unassigning myself.

[2020-12-11 17:53] jonathanolson commented on #81
If joist/sun/scenery-phet is relying on that (and it doesn't look MIT-compatible, see https://opensource.stackexchange.com/questions/7435/mit-licensed-project-with-cc-by-sa-dependency), then I'm concerned.

Strong preference to either use alternatives, or have someone look into whether we wouldn't run into issues.

[2020-12-11 17:58] samreid commented on #81
The links you described refer to "CC-BY-SA" but Font Awesome is "CC-BY" without the "SA" restrictions.  Does the same argument apply?

[2020-12-11 18:05] jonathanolson commented on #81
A quick read of https://creativecommons.org/licenses/by/4.0/legalcode doesn't seem compatible with the MIT license.

[2020-12-11 18:25] kathy-phet commented on #81
@jonathanolson - My understanding here is that the code remains MIT and the images then remain CC-BY. They can be combined and redistributed, but we will need to specify that the images are CC-BY. We handle this fine in the HTML file. The license needs a tweak. And I will need to consult the lawyers as well.

[2020-12-11 20:46] jonathanolson commented on #81
My concern is that the derived work is specifically embedded and checked into our MIT'ed source code, e.g. https://github.com/phetsims/sun/blob/master/js/FontAwesomeNode.js

[2020-12-11 20:50] kathy-phet commented on #81
I've sent an email to my contacts at Creative Commons for a consult.

[2020-12-11 20:53] samreid commented on #81
What if we move the font awesome path strings out of FontAwesomeNode?

[2020-12-11 20:58] kathy-phet commented on #81
I see github allows you to make a repository that is CC-BY. Is there a way to give FontAwesome its own repo, and just mix them in the build process? That would be ideal

[2020-12-11 20:59] samreid commented on #81
Maybe it would be more inline with PhET's process to put the font awesome data in the "sherpa" repo, which already supports various 3rd party licensing.

[2020-12-11 21:00] kathy-phet commented on #81
I thought sherpa was just where we tracked the licenses? Is that were we put the third party images when we have them? If so, yes.

[2020-12-11 21:03] samreid commented on #81
Sherpa contains the 3rd party licenses as well as the 3rd party code.

[2020-12-11 21:04] kathy-phet commented on #81
If FontAwesome svgs can live there that is perfect.

[2020-12-11 21:11] samreid commented on #81
I'll open an issue about moving that data to sherpa.

[2020-12-11 21:12] samreid opened #82 "Move Font Awesome SVG data from FontAwesomeNode to sherpa/"
From #81

@jonathanolson said:

I said:

@kathy-phet said:

I said:

@kathy-phet replied:

[2020-12-11 21:27] samreid commented on #82
In the commit, I moved the font awesome svg data from FontAwesomeNode to sherpa.  This was the "bare minimum" which kept the data in same form.  We will need further changes to accommodate new data from Font Awesome 5.0.  But I think that should be a new issue.  @jonathanolson can you please review this minor change?

[2020-12-11 21:37] samreid commented on #81
In https://github.com/phetsims/sherpa/issues/82 I moved the font awesome 4.5 data from FontAwesomeNode to sherpa as a batch.  There are more steps necessary to accommodate 5.0+, one of which should be discussed before we proceed.  I think we should move to a "one string per file" paradigm instead of having multiple SVG's batched together.  This will mean that only sims that need the "camera" icon

[2020-12-11 23:05] jonathanolson commented on #82
This looks good!

[2020-12-11 23:05] #82 closed

[2020-12-17 17:18] samreid commented on #81
@kathy-phet said it is not problematic to mix 4/5 icons.  A developer (I think it was @pixelzoom?) said it could be preferable to move icons to separate files.  @pixelzoom also recommended rectifying the names with the font awesome names, instead of giving our own names.  @zepumph asked what would be necessary to move to 5 icons.  I replied that we would probably want to look at them side-by-side,

[2020-12-17 17:21] pixelzoom commented on #81
To clarify... I recommended separating v4 and v5 icons into 2 separate files.  But a file-per-icon might also be nice, would like to discuss more.

[2020-12-17 20:17] ariel-phet commented on #81
Re Legal concerns:

Kathy wrote to a contact at Creative Commons:

And then KP followed up with:

The contact wrote back:

Hi Kathy:

Good to hear from you.

Yes - I think your solution is an elegant one.

Wishing you both good health and a happy holiday season,

Cable

On Fri, Dec 11, 2020 at 3:28 PM Kathy Perkins <perkinsk@colorado.edu> wrote:

    Hi Cable,

    I think we came up with a proper

[2020-12-17 20:30] samreid commented on #81
Regarding licensing:

@jonathanolson expressed concerns that CC-BY material could not be licensed in a bundle with GPL license.  We did see https://creativecommons.org/2015/10/08/cc-by-sa-4-0-now-one-way-compatible-with-gplv3/ which says you can license a GPL thing containing CC-BY.  But @ariel-phet said @kathy-phet had reached out to contacts.  We noticed the preceding comments mention MIT but no

[2020-12-17 20:37] pixelzoom commented on #81
@Denz1994 mentioned that PhET's solution should consider the upcoming FA6 release.  That's a great point, because apparently FA6 is going to have a different license than FA5.  From the FAQ at https://fontawesome.com/6:

[2021-01-07 17:45] pixelzoom commented on #81
This issue does not seem to be in a "ready for review" state, so I'm removing that label.

[2021-01-13 03:45] ariel-phet commented on #81
Marking for developer meeting (in case this does not get covered in status meeting)

[2021-01-26 03:57] samreid commented on #81
I sent a slack message to @kathy-phet and @jonathanolson for scheduling.  On hold until we meet.

[2021-01-26 16:15] samreid commented on #81
Summarizing this issue to prepare for our discussion:

Originally, we were incorrectly putting Font Awesome data in sun and marking it with a different copyright.  That has been resolved.

Font Awesome 4 was SIL, but it is missing fonts we would like to use, such as the user+gear.

Font Awesome 5 is CC-BY 4.0

There was a recent article from creative commons, saying that even the more restrictive

[2021-01-26 16:35] pixelzoom commented on #81
Afraid I'm going to have to back out of this one. I'm getting a little bogged down, and need to (re)focus on Fourier.

[2021-01-26 16:50] samreid commented on #81
Discussion with @jonathanolson @kathy-phet and @samreid

A published sim is licensed as CC-BY.
Our libraries are MIT
Sim-specific code is GPL to provide PhET some protection from other companies taking and adapting
our simulations without sharing it back.

KP: When we publish sims on our website, we package them as CC-BY, so that should be compatible with Font Awesome CC-BY, right?
JO: This seems

[2021-01-26 17:07] samreid commented on #81
Scheduling for a brief Thursday check-in to verify the above plan sounds good.  If it seems good, we'll ask for volunteers.

[2021-01-29 00:49] samreid commented on #81
I created a file with a table that indicates what licenses can be used as PhET simulation dependencies: https://github.com/phetsims/sherpa/blob/master/compatible-licenses.md

[2021-02-04 17:24] chrisklus commented on #81
From 2/4/21 dev meeting:

No objections - everyone is on board with this.

SR note: The wrapper files should not begin with the CU copyright, but a separate license.

@samreid will take this on and pass it over to @zepumph for review.

[2021-02-04 17:25] samreid commented on #81
@zepumph also mentioned we may not want to use `grunt` for this, but perhaps just `node`

[2021-02-05 19:12] samreid commented on #81
I'm at a good commit point, but I don't want to check in "everything" until discussion with a reviewer, because it would be over 3200 files.  I'll check in the parts I can, then wait for discussion before doing the rest.

## What's complete
* Script that generates module files for each font awesome icon
* Thin wrapper/constructor for the icons
* List of all icons
* Test harness/demo (will not chec

[2021-02-05 20:34] zepumph commented on #81
I don't think we should build out sherpa to be runnable. To me this feels like a scenery-phet thing, since that is where these font-awesome icons are used (in phet sims). If you want to create a sherpa demo though, that's fine.

[2021-02-05 20:40] zepumph commented on #81
Discussed with @samreid, he will do a bit more work before my review.

[2021-02-05 23:07] samreid commented on #81
I pushed icons.json from fontawesome, keeping the same directory structure in case we later decide to commit more of that library.

[2021-02-06 00:08] samreid commented on #81
I added a scrollable, zoomable test at scenery/tests/fontawesome5.html.  I think everything is all set for review.  @zepumph please let me know if I've missed anything.

[2021-02-09 19:50] samreid opened #83 "Should we convert from FA4 icons to FA5 icons?"
From https://github.com/phetsims/sherpa/issues/81, I'd like to compare the FA5 icons to FA4.  If FA5 icons are equally good or better, it would simplify our project to eliminate the FA4 approach.  The first step will be to show a before/after comparing each icon.  If the changes are nontrivial, then we will need to ask for designer recommendation.  If we need to keep any of the FA4 icons, let's co

[2021-02-15 15:53] samreid commented on #83
I ran a quick (not exhaustive) search to find Font Awesome 5 icons that seemed like a close match (in name at least) to Font Awesome 4, here is the result.  Leftmost column is font awesome 4.  Columns to the right are options from Font Awesome 5.

![image](https://user-images.githubusercontent.com/679486/107967255-21402300-6f6a-11eb-8d4e-b2e8a1076367.png)

For the ones with missing icons, I suspec

[2021-02-17 02:34] zepumph commented on #81
Sherpa was not linted because of this line (and others) https://github.com/phetsims/chipper/blob/6e4d288b017138d901e982e75638b22e9fc5eeb0/js/grunt/lint.js#L30. I noticed you added an eslintignore file, but I couldn't get our linter to work with multiple eslintignore files. Perhaps just a defect of the NodeAPI we use in lint.js (which takes an arg of a single ignore file). I updated the project to

[2021-02-17 18:05] arouinfar commented on #83
That certainly seems like the case. Here are a few examples:
* [edit ](https://fontawesome.com/icons/edit?style=regular):
![image](https://user-images.githubusercontent.com/8419308/108246054-3d7cc500-710e-11eb-98d6-ce2d65b64222.png)
* [exclamation-triangle](https://fontawesome.com/icons/exclamation-triangle?style=solid):
![image](https://user-images.githubusercontent.com/8419308/108246143-54bbb280

[2021-02-17 23:47] samreid commented on #81
sherpa/.eslintrc.js looks great, I tried commenting out a line to see that font awesome would be linted and it worked as expected, thanks!

fontawesome5.html was developed as a manual test harness to see if all the icons could render.  It helped us identify this issue: https://github.com/phetsims/kite/issues/88.  I don't think it should be added to CT--it takes too long to run and would be testing

[2021-02-18 00:23] #81 closed

[2021-02-26 13:25] samreid commented on #71
I deleted the branch, closing.

[2021-02-26 13:25] #71 closed

[2021-02-26 13:27] samreid commented on #65
Thanks for your patience, I think this issue can be closed.  It's not too confusing to use `_.extend` instead of `_.assignIn`.

[2021-02-26 13:27] #65 closed

[2021-02-26 13:28] samreid commented on #68
It doesn't seem a good use of time to delete the existing minified files.  In the future, we can decide whether to add minified files or not.  Closing.

[2021-02-26 13:28] #68 closed

[2021-02-26 13:28] samreid commented on #64
There are no longer any TODOs referencing this issue, closing.

[2021-02-26 13:28] #64 closed

[2021-02-26 13:30] samreid commented on #66
There are now a few asserts and error messages in reportThirdParty.js and it has been stable for a while.  Closing.

[2021-02-26 13:30] #66 closed

[2021-02-26 13:31] samreid commented on #51
I removed pixi, closing.

[2021-02-26 13:31] #51 closed

[2021-02-26 13:32] samreid commented on #47
We do not want to show the license texts from within the simulations.  Instead, they appear in the source code and haven't been problematic.  Closing.

[2021-02-26 13:32] #47 closed

[2021-02-26 13:34] samreid commented on #23
This code has been stable since 2015.  If we add another version, we can add a filename at that time (if we don't overwrite the original).  Closing.

[2021-02-26 13:34] #23 closed

[2021-03-10 16:38] samreid commented on #83
In the commit, I converted Blackbody Spectrum from Font Awesome 4 to Font Awesome 5.  The main change was transforming the old code:

[code]

to the new code:

[code]

There are 3 other occurrences of camera:
* Equality Explorer
* Graphing Quadratics
* Models of the Hydrogen Atom

Once those are converted, we can remove the camera data from sherpa/js/fontawesome-4/FontAwesomeIcons4_5.js

Adding to

[2021-04-12 16:57] zepumph commented on #83
@samreid will create side issues on the conversion.

@samreid mentioned that specifying a `maxWidth` based on the current width would be a good general way to convert.

[2021-04-12 16:58] zepumph commented on #83
This issue can be closed when all side issues for conversion have created.

[2021-04-16 22:52] samreid commented on #83
There are 70 usages of FontAwesomeNode across 26 repos (one is an `extend`, the others are `new FontAwesomeNode`).  There are only 28 FA_4_5 icons.  So am I about to open 26 new issues?  Maybe I should try converting one or two first to see if one person can just do them all and avoid the hassle of 26 new issues.  But even if I do the conversions, would we want an issue anyways for the responsible

[2021-04-21 18:15] zepumph commented on #83
I only had two, so I just created my own issues in my own repos.

[2021-04-21 19:07] pixelzoom commented on #83
Before we start converting, several "code review" things:

- [ ] Many (most?) of the class names under sherpa/fontawesome-5/ don't follow PhET naming convention.  They are view components (Nodes) but look like model names.  For example `Camera` (the example that @samreid used above) doesn't particularly look like a "view" name.  I'm not suggesting that we need to necessarily change this. Maybe jus

[2021-04-22 19:29] pixelzoom commented on #83
4/22/21 dev meeting:

@samreid hasn't had a chance to review my feedback.  Porting to FA5 is on hold.

[2021-05-26 18:29] samreid commented on #75
Highlight.js now supports line comments, after commits in the above issue.

[2021-06-22 00:12] samreid commented on #83
I’d also like the name to reflect the style, so that there are no collisions if importing regular/AddressBook and solid/AddressBook.  How should we name them?  Some possibilities:

* RegularAddressBookNode / SolidAddressBookNode
* RegularAddressBookFANode / SolidAddressBookFANode
* FontAwesomeRegularAddressBookNode / FontAwesomeSolidAddressBookNode
etc.

What do you recommend?

[2021-06-22 17:23] pixelzoom commented on #83
Fontawesome "style" (regular or solid) could be handled like this:

[code]

[code]

[2021-06-22 17:35] samreid commented on #83
I like the API for that the best, but it means sims that need the solid address book also pay the price of downloading the regular address book.  But since they are around 1KB each, that is probably fine.

[2021-06-22 18:10] pixelzoom commented on #83
Thinking more about this, I'm not wild about any of the above solutions. I don't think there's a lot being added by having a .js file for each icon that returns a Node, and there's a lot of duplicated boilerplate.  I think it would be sufficient to have a general `SVGPathNode` class (as I described above) and a .js file for each Fontawesome SVG path (string).   Here's how that could be done.

Put

[2021-06-27 22:08] samreid commented on #75
Correct syntax highlighting for line comments caused all code to render in a single line on safari.  So we are moving toward Prism.  Highlight.js has been removed from master.  Closing.

[2021-06-27 22:08] #75 closed

[2021-07-04 02:58] samreid commented on #83
That is a great proposal, I think we should go for it.  Also, for sims that need to create multiple nodes with the same shape, we will save time to create the Shape only once.  Therefore, let's supply a string file like addressBookRegular.js as well as a Shape file like addressBookRegularShape.js, which wraps the path data in a Shape for reuse where necessary.  Then call sites can use the string o

[2021-07-06 16:43] pixelzoom commented on #83
That seems unnecessary to me -- up front, and going forward as we add icons.  I can't think of a sim where we've needed lots of instances of an icon.  And if we did have such a case, I'd let the sim handle creation of a reusable Shape.

I was under the impression that there was a need for the client to access the SVG string and Shape.  I got this impression from your current implementation FANode

[2021-07-06 16:55] samreid commented on #83
Font awesome shape caching was introduced in https://github.com/phetsims/arithmetic/issues/117 as a step to improve startup time.  I'm not comfortable rolling back that speed improvement unless we can prove it is no longer valuable.

It seems the usages in a sim would probably use scenery and Shape.  If we had a case for usage of the string path data, it would probably be in a wrapper, webpage or

[2021-07-06 19:22] pixelzoom commented on #83
I don't see anything in  phetsims/arithmetic#117  that indicates that adding Shape caching to FontAwesomeNode resulted in a performance improvement.  If it did, it's not documented or quantified in the issue.

I don't see how you get Shape caching without having something like the current FontAwesomeNode, that is responsible for SVG strings and Shapes that are specific to fontawesome.  I'd much ra

[2021-07-06 21:36] samreid commented on #83
I disabled caching in Natural Selection via this patch:

<details>

[code]

</details>

And found that shape caching speeds up the startup time of natural selection by 60-70ms (on my speedy laptop).  I did not measure heap gains, but it is certain to be nonzero as well.  Therefore, I'm inclined to make it easy to support Shape caching.

[2021-07-09 00:42] samreid commented on #83
OK here's the plan:

* solid/ and regular/ will be combined at the top level, so you can easily see and import both
* brands/ will remain nested under brands/ since they are a separate family with one style
* SVG definition files will have "String.js" suffix, and the font awesome copyright
* Shape definition files will have "Shape.js" suffix and the PhET copyright, since they only include PhET cod

[2021-07-09 03:15] samreid commented on #83
After the above changes, we can respond to the @pixelzoom recommendations:

Now each file ends with *String.js or *Shape.js, so it is clearer.

FANode is no longer necessary, and has been deleted.  SCENERY/Path should be used instead.

FANode is no longer necessary, and has been deleted.  SCENERY/Path should be used instead.

There are default exports and no more classes, so this problem is gone.

[2021-07-09 14:51] zepumph commented on #83
I'll do https://github.com/phetsims/ratio-and-proportion/issues/379 and report back.

[2021-07-09 14:53] pixelzoom commented on #83
+1 for converting proactively.

[2021-07-09 15:17] zepumph commented on #83
https://github.com/phetsims/ratio-and-proportion/commit/ae59bd08452c14c2f7de9ed70285225e207311d1 was easy enough. The icon is different, but it sounds like we are all in on FA5, so no problems here!

[2021-07-09 19:46] pixelzoom commented on #83
I converted fourier-making-waves in the above commit.  The most time-consuming part of the conversion was adjusting the scale, which needed to be much smaller. For example:

[code]

[2021-07-09 20:01] samreid commented on #83
Thanks!  In some cases, it may be simplest to set the `maxWidth` of the fontawesome Path.

[2021-07-09 21:53] pixelzoom commented on #83
With the exception of scenery-phet/RefreshButton (see https://github.com/phetsims/sherpa/issues/83) all of the repos that I'm responsible for have been converted to FA5.

[2021-07-09 22:43] jessegreenberg commented on #83
Done for energy-skate-park, the new scissor icon looked pretty different but @arouinfar confirmed it was OK.

[2021-07-12 18:06] jonathanolson commented on #83
I've handled mine, with the exception of https://github.com/phetsims/scenery/blob/master/tests/fontawesome-4-5.html. @samreid this looks like it was created for the diagram in the issue. Presumably we can remove this?

[2021-07-13 01:44] samreid commented on #83
The migration is going really well.  There are a few occurrences left.  @jonathanolson can you please do the remaining joist ones?  I wasn't sure how to test them easily.

- [ ] expression exchange @jbphet
- [ ] geometric optics @veillette
- [ ] joist @jonathanolson
- [ ] projectile-motion @jbphet

After these are done, please reassign to @samreid to delete FontAwesomeNode, font-awesome-4-5.html a

[2021-07-13 12:58] veillette commented on #83
I have handled the case for geometric optics.

[2021-07-16 20:09] jbphet commented on #83
I've taken care of expression-exchange and projectile-motion.  I left "sun" unchecked above because I'm not sure what we're going to do about the checkboxes.  @samreid said above:

Have we looked at `squareRegularShape` and `checkSquareRegularShape` and ruled them out?

[2021-07-19 14:35] zepumph commented on #83
I completed https://github.com/phetsims/joist/issues/707, and just did a global search for FontAwesomeNode. The only spot left besides minor doc updates is:

https://github.com/phetsims/circuit-construction-kit-common/blob/988610bb9ec03677fbef2436758fab095f05bdef/js/view/ReverseBatteryButton.js#L44-L55

- [ ] @samreid can you take a look and see if those hard coded strings need any work?
- [ ] I b

[2021-07-19 14:35] zepumph commented on #83
I completed https://github.com/phetsims/joist/issues/707, and just did a global search for FontAwesomeNode. The only spot left besides minor doc updates is:

https://github.com/phetsims/circuit-construction-kit-common/blob/988610bb9ec03677fbef2436758fab095f05bdef/js/view/ReverseBatteryButton.js#L44-L55

- [ ] @samreid can you take a look and see if those hard coded strings need any work?
- [ ] I b

[2021-07-19 20:36] samreid opened #84 "Should we use checkbox icons from Font Awesome 4 or 5?"
From https://github.com/phetsims/expression-exchange/issues/154 and https://github.com/phetsims/sherpa/issues/83, we have mostly upgraded to Font Awesome 5, but one of the last Font Awesome 4 icons we are using is the checkbox.  Our general consensus is that we have generally liked the style, simplicity and consistency of using font awesome 5 for everything (though some of us prefer the Font Aweso

[2021-07-19 20:47] samreid commented on #84
Here's a patch that uses the FA5 checkboxes:

<details>

[code]

</details>

![image](https://user-images.githubusercontent.com/679486/126225224-23080899-8a2f-472b-be0b-97bb91e11f4b.png)

[2021-07-19 20:51] arouinfar commented on #84
Thanks for the mockup @samreid! I think it'll really help the discussion.

[2021-07-19 20:59] samreid commented on #84
Thanks! I was skeptical about the new one since I like the Font Awesome 4 checkbox icon so much, but in testing the Font Awesome 5 one, it also seemed good.

[2021-07-19 22:18] samreid commented on #83
Thanks to everyone for pulling together on this issue.  I've removed FontAwesomeNode and its icons.  The last thing is about the checkboxes which will be decided in #84.  sherpa/font-awesome-4 looks like it has many usages in website things, so it cannot be deleted at this time.  Closing.

[2021-07-19 22:18] #83 closed

[2021-07-20 14:12] pixelzoom opened #85 "Font Awesome 5 icons for open and closed eye"
There is some question about which FA5 icons to use for the closed (and open?) eye.  I changed common-code EyeToggleButton.js to use one icon, @zepumph decided to use something else in ratio-and-proportions/TickMarkViewRadioButtonGroup.js.  Shouldn't we be consistent here?...

Assigning to designers. @zepumph @chrisklus @jonathanolson FYI.

--
7/16/21 Slack discussion on dev-public channel:

Chris

[2021-07-20 14:23] pixelzoom commented on #85
Most usages are of eyeRegularShape.js and eyeSlashRegularShape.js for open and closed respectively You can try these in function-builder, geometric optics, number-play, ration-and-proportions, RPAL, scenery-phet, and vector-addition.  For example, here's EyeToggleButton in scenery-phet's demo:

<img width="100" alt="screenshot_1075" src="https://user-images.githubusercontent.com/3046552/126339485-

[2021-07-20 14:25] pixelzoom commented on #85
Here are the number of occurrences of the 2 different options:

4 eyeRegularShape.js
8 eyeSlashRegularShape.js

2 eyeSolidShape.js
4 eyeSlashSolidShape.js

[2021-07-20 14:37] pixelzoom opened #86 "Imports for FA5 icons violate naming convention."
The convention for imports is that the import name should match the name of the file. For example:

GOOD: `import checkSolidShape from '../../../../sherpa/js/fontawesome-5/checkSolidShape.js';`
BAD: `import somethingDifferent from '../../../../sherpa/js/fontawesome-5/checkSolidShape.js';`

After the recent conversion to FA5, there are now some sims that are violating this convention. They are:

-

[2021-07-20 14:40] pixelzoom commented on #86
I went ahead and fixed these. Feel free to close after reviewing.

[2021-07-20 14:41] pixelzoom commented on #85
In https://github.com/phetsims/sherpa/issues/86, I discovered that @samreid is using eyeSolidShape.js in cck-black-box-study.

[2021-07-22 20:01] samreid commented on #84
@amanda-phet: I prefer the FA4 one, it fits well with our style
@samreid: The FA5 one is crisper, but the FA4 version "pops" more and is easier to visually parse at a glance.

@amanda-phet asked if we have technical reasons to move fully away from FA4.  I pointed out that many of the technical approaches from FA5 (getting rid of FontAwesomeNode, using modular strings, etc) will work equally well f

[2021-07-22 20:01] #84 closed

[2021-07-22 20:15] samreid commented on #85
At today's design meeting, we agreed that we like the "regular" eye slightly better, but the "solid" slash eye looks much better, so we are leaning toward the "solid" .  @kathy-phet also has a slight preference for FA 4.

We all kind of liked the FA4 scissors.  @kathy-phet agrees the FA4 scissors are better.  We agreed to use the FA4 scissors.  @chrisklus will open a new issue for scissors.

Enoug

[2021-07-23 04:19] samreid commented on #85
@chrisklus can you please take next steps for this issue or assign others accordingly?

[2021-07-23 21:02] chrisklus opened #87 "Use FA4 scissors instead of FA5"
In https://github.com/phetsims/sherpa/issues/85, we decided that FA4 icons can still be used when more desirable, and the scissors was an icon that most people preferred from FA4. I believe the new shape from FA5 that's currently in use is `cutSolidShape`. I see usages in CCK, ESP, and Expression Exchange.

@samreid I'm not familiar with FA and how to bring back a FA4 icon - would you be up to do

[2021-07-23 21:21] chrisklus opened #88 "Use FA5 trash alt regular for trash can icons"
In a design meeting for https://github.com/phetsims/sherpa/issues/85, it was decided that FA5 "trash-alt regular" was the most desirable trash can icon. I several usages of `trashAltRegularShape`, but only one use of `trashSolidShape` in TrashButton in CCK. Assigning to @samreid to update usage(s).

[2021-07-23 21:22] chrisklus commented on #85
I converted all usages of eyeSolidShape to eyeRegularShape and eyeSlashSolidShape to eyeSlashRegularShape in the commits above. Notifying responsible devs @samreid and @jonathanolson.

I also opened two more issues, https://github.com/phetsims/sherpa/issues/87 and https://github.com/phetsims/sherpa/issues/88, for using FA4 scissors and FA5 trash alt regular.

@samreid would you mind reviewing thos

[2021-07-23 22:01] kathy-phet commented on #85
@chrisklus - I think we actually settled on the Solid eye as the preferred overall .... so I think you wanted to do the reverse?

[2021-07-24 17:50] chrisklus commented on #85
Oh, whoops! Got it backwards, thanks. I reverted the initial commits and converted the rest to eyeSolidShape/eyeSlashSolidShape. Ready for review.

[2021-07-25 18:46] samreid opened #89 "Use exact shape instead of Rectangle approximation for checkbox background"
In https://github.com/phetsims/sherpa/issues/84 we discovered that the background shape is approximated with a Rectangle rather than using the exact shape from FA4.  This could be improved by reusing the exact shape.

[2021-07-27 19:01] jbphet commented on #86
I inspected the changes for expression-exchange and made the change for projectile-motion.  It all looks good to me.

[2021-07-28 04:58] samreid commented on #85
I spot checked several commits, and tested RPAL, and it seemed good.  I also searched for the FA5 regular eye and didn't see any occurrences.  I considered whether we want a lint rule to encourage us to use the ones we agreed upon, but it seems like a hassle and we would need to opt out of the lint rule in legitimate cases like the shape using the string, and the iconList.  Closing.

[2021-07-28 04:58] #85 closed

[2021-07-28 04:59] samreid commented on #86
Looks good, thanks, closing.

[2021-07-28 04:59] #86 closed

[2021-07-28 05:27] samreid commented on #87
I converted to use the FA4 scissors, and tested in the relevant sims.  @chrisklus would you like to double check?

[2021-07-28 05:33] samreid commented on #88
Looks much better, thanks!  Closing.

[2021-07-28 05:33] #88 closed

[2021-07-28 05:42] samreid commented on #89
I tried using the same shape, but it is a fill for the edge:

[code]

![image](https://user-images.githubusercontent.com/679486/127269755-01dd8b0c-96fd-45c4-84ef-64a4a617c663.png)

I think we should leave it as it is.

[2021-07-28 05:42] #89 closed

[2021-08-11 01:00] jonathanolson opened #90 "branch: three-r131"
See https://github.com/phetsims/density-buoyancy-common/issues/33

[2021-10-05 22:01] samreid commented on #87
This has been ready for review since July 27.  @chrisklus can you please review or reassign to me to find another reviewer?

[2021-10-05 22:03] samreid commented on #79
There are no plans to move these as a batch.  If we ever move them, it will likely be one at a time and as-needed.  Closing.

[2021-10-05 22:03] #79 closed

[2021-10-09 21:31] samreid opened #91 "Cannot find module empty"
From https://github.com/phetsims/chipper/issues/1085 @zepumph reported build failures, perhaps from the translation build:

[code]

I checked that empty.js was committed properly as part of https://github.com/phetsims/chipper/issues/1085, I'm not sure what's wrong.

[2021-10-10 09:49] samreid commented on #91
I tried `grunt --brands=phet --repo=graphing-quadratics build-images` from my chipper and didn't see any problems.  Also, I noticed the locales for this build is "iw".  @zepumph @jbphet or @jonathanolson can you please recommend how to investigate?

[2021-10-11 14:58] zepumph commented on #91
I ran:

[code]

And ran into no problems.

I went onto phet-server and pulled sherpa, and it was already up to date.

Here is my best guess:

I wonder is this is a case where chipper isn't getting npm update called on it correctly, or if sherpa isn't getting checked out to an older sha appropriately.

The graphing-quadratics sha that was used in the failed build above is from Wed, 9/21/21, and thi

[2021-10-11 14:59] zepumph commented on #91
We got over 10 failed builds because of this guy over the weekend, so we should solve this quickly.

[2021-10-12 21:17] #91 closed

[2021-12-21 22:57] pixelzoom opened #92 "Fontawesome *Shape.js files appear to be unnecessary."
Over in https://github.com/phetsims/sherpa/issues/83, we converted from fontawesome 4 to 5, and we ended up with a *String.js and a *Shape.js for every fontawesome 5 icon.  These live in sherpa/js/fontawesome5, and examples are:

[code]

What I discovered (quite by accident) is that the *Shape.js files appear to be unnecessary.  Path's constructor signature is:

`constructor( shape: Shape | string

[2021-12-21 23:16] samreid commented on #92
It takes a lot of CPU + time to parse a string into a Shape, so the *Shape.js files are provided as a way where that is factored out. So that if a simulation has N Shapes made of one icon, parsing still only happens once.

[2021-12-21 23:21] pixelzoom commented on #92
Got it, thanks. Closing.

[2021-12-21 23:21] #92 closed

[2022-07-01 21:32] samreid commented on #21
We determined that Apache is an acceptable license for our usage, so I think this issue can be closed with no work.

[2022-07-01 21:32] #21 closed

[2022-07-01 21:35] samreid commented on #90
Since https://github.com/phetsims/density-buoyancy-common/issues/33#issuecomment-931570948 was marked as no-fix, can this branch be deleted?  Maybe new sims can use new versions of three from the ground up.

[2022-07-01 21:37] jonathanolson commented on #90
I don't see a major drawback of leaving this (since it would be useful code if we're updating three.js for density/buoyancy). Thoughts?

[2022-08-02 22:45] samreid commented on #90
That sounds reasonable to me, thanks!